<section class="terms-and-conditions">
  <div class="hero-section">
    <div class="header">
      <span id="text-xs">Mojo</span>
      <span id="text-xl">Terms and Conditions</span>
    </div>

    <!-- Tab group and it's content wrappers underneath(tab-content) -->
    <!-- <div class="tab">
      <div
        class="tabUnselected"
        (click)="setActiveTab('tab1')"
        [class.active]="tabSelected === 'tab1'"
      >
        Personal
      </div>

      <div
        class="tabUnselected"
        (click)="setActiveTab('tab2')"
        [class.active]="tabSelected === 'tab2'"
      >
        Merchant
      </div>

      <div
        class="tabUnselected"
        (click)="setActiveTab('tab3')"
        [class.active]="tabSelected === 'tab3'"
      >
        Agent
      </div>
    </div> -->

    <!-- Tab group's content -->
    <div class="tab-content">
      <ng-container *ngIf="tabSelected === 'tab1'">
        <!-- Content for Tab 1 -->
      </ng-container>

      <ng-container *ngIf="tabSelected === 'tab2'">
        <!-- Content for Tab 2 -->
      </ng-container>

      <ng-container *ngIf="tabSelected === 'tab3'">
        <!-- Content for Tab 3 -->
      </ng-container>
    </div>

    <!-- A wrapper around the input and the buttons to add all together in one -->
    <div class="input-wrapper">
      <input type="email" name="" id="" placeholder="Search" />
      <button id="btn-filled" type="submit">Search</button>
    </div>
  </div>

  <!-- Container to hold the terms and conditions content -->
  <div id="container">
    <div class="main-content-container">
      <span id="text-lg">MOJO TERMS & CONDITIONS</span>

      <span id="text-rg">
        IMPORTANT INFORMATION
        1.1 INTERPAY SAL, a joint-stock company validly existing under the laws of the Republic of Lebanon
        (“we”, “us”, “our” or “Interpay”) and licensed by the Central Bank of Lebanon (Banque du Liban or
        BDL), engages in the business of providing electronic mobile wallet services and offers associated
        services, features, and functionalities (the “Services”).
        1.2 This document outlines the terms and conditions governing your use and access to our website, Mojo
        application and any Services made available by Interpay and its affiliates from time to time (collectively
        the “Mojo Platform”). These terms and conditions provide essential information for the holder of a
        Mojo account opened through our Mojo Platform (the “Account”).
        1.3 You must be Lebanese or be a Lebanese resident to have an Account.
        1.4 These terms and conditions, along with its schedules, our Privacy Policy which explains how we collect,
        use and share information, and any other terms and conditions that apply to our Services, form a legal
        agreement (the "Agreement", or the "Terms") between:
        • you, the Account holder and/or user of the Mojo Platform; and
        • us, Interpay.
        1.5 If you are using Mojo Platform as an individual, the references to "you" in these Terms should be
        understood to apply to you as an individual. However, if you are using Mojo Platform on behalf of, or in
        your capacity as representative of a corporate body, association, partnership, or any legal entity, the
        references to "you" in these Terms should be interpreted as referring to that legal entity. In such cases,
        you explicitly warrant and represent that you have the authority to legally bind the said corporate body,
        association, partnership, or legal entity accordingly.
        1.6 By using Mojo Platform, you confirm that you have read, understood, accepted and agreed to these
        Terms, along with our Privacy Policy and any other terms and conditions that apply to our Services.
        These Terms apply whenever and however you access our Services.
        1.7 We reserve the right to make changes to the Terms from time to time. When these changes are made, we
        will notify you of the new terms through the Mojo Platform. Your continued use of the Services after
        any variation, update, addition, deletion or amendment to these Terms shall constitute your acceptance
        of such variation, update, addition, deletion or amendment.
        1.8 Terms defined in this Agreement shall have the meanings respectively assigned to them and any other
        defined terms can be found in Schedule 1 of this Agreement.
        1.9 In order to be able to benefit from our Services, you must download our application and register for an
        Account. You must possess a compatible device. We reserve the right to determine which devices meet
        the eligibility criteria for using the Services. It is your responsibility to ensure continued access to all
        necessary devices and accounts (including your registered email account, if any, and your Account) to
        receive communications from us regarding the Services.
        2. REGISTRATION AND ACCOUNT INFORMATION
        2.1 Registration occurs by downloading the application and following the steps presented on the Mojo
        Platform.
        2.2 Any request for registration will be subject to a KYC (Know Your Customer) procedure for natural
        persons and for legal entities. We do this for a number of reasons, including to check your identity and


        to meet our legal and regulatory requirements. Our Privacy Policy explains more about how we use your
        information for these and other purposes.
        2.3 To register, you must be over the age of 18 and provide us with any requested information such as, but
        not limited to, your full name, email address and scanned copy of your identity card or passport. If you
        are a legal entity, you warrant that the person accepting this Agreement on your behalf is your authorised
        representative, granted full authority to act on your behalf, and has agreed to abide by these Terms.
        2.4 We reserve the right, at our sole discretion, to refuse to register or maintain an Account and to impose
        any restrictions on the Account.
        2.5 By using the Mojo Platform, you acknowledge and agree to abide to any transaction restrictions as set
        forth in Schedule 2 of these Terms and as amended from time to time.
        2.6 Once you have available funds in your Account you will be able to use the Services offered through the
        Mojo Platform.
        2.7 You may store in your Account either Fresh USD or Fresh LBP.
        2.8 You agree that any registration information given to us is accurate, correct and up to date and, if there
        are any changes, you shall notify us of such changes by updating your Account manually. Be sure to
        keep your details up to date and let us know immediately if any of your information pertaining to your
        Account changes. We shall not be liable for any loss arising out of your failure to do so.
        2.9 We have the right to disable your Account, at any time, if in our reasonable opinion you have failed to
        comply with any of the provisions of these Terms and/or of the Applicable Laws and/or if we believe
        that your Account is being used in an unauthorized or fraudulent manner.
        2.10 By using the Mojo Platform you acknowledge and agree that your Account is not a bank account or
        deposit account, nor does it offer the features and benefits of a traditional bank account or deposit
        account. There is no overdraft facility available on your Account and we do not pay interest to you.
        3. TRANSACTIONS
        3.1 Upon activation of your Account you will be able to carry out any of the transactions listed below, which
        may be subject to fees, restrictions, and limits as set forth in Schedule 2, and amended by us from time
        to time (as applicable) (each a “Transaction”).
        3.2 To meet our legal and regulatory requirements, we may occasionally require additional information from
        you. Be sure to provide us with the requested information promptly so that there is no disruption in the
        provided Services or any Transactions conducted.
        3.2.1 Adding Funds/Loading
        Upon activation of your Account, you may add funds to your Available Balance by any of the following
        methods:
        1. exchanging Fresh LBP or/and Fresh USD for electronic value by visiting any Agent;
        2. using a registered debit or credit card;
        3. transfers from our network of e-wallets;
        The Available Balance displayed in your Account will serve as conclusive evidence of your remaining
        balance. You hereby acknowledge and agree that the funds held in your Available Balance is not subject
        to receiving any interest or any other earnings whatsoever.
        3.2.2 Once you have funds in your Account and subject to the applicable Limits and Fees as set forth in
        Schedule 2 of these Terms you will be able to do the following

        Payments
        You will be able to make payments at Merchants.
        3.2.2.2 Withdrawals
        You will be able to make withdrawals by visiting any Agent.
        3.2.2.3 Transfers
        You will be able to send and receive funds to and from other Accounts.
        3.3 Your Transaction may be declined if you do not have sufficient funds in your Account to cover the
        Transaction amount and the applicable fees.
        3.4 Transactions between Mojo Accounts are credited instantly. The processing time for other Transactions
        will vary and will be determined on a case-by-case basis. Please note that we will not be responsible for
        the funds until they are received by us.
        3.5 We reserve the right to reverse a Transaction if the transactor, the transactor's bank, or the payment
        service provider initiates a reversal or if there is a reasonable likelihood of such a reversal being initiated
        in relation to your Account. In the event of a reversal, we retain the right to deduct the reversed
        Transaction amount from your Account balance. If your Account balance is insufficient to cover the
        reversal, we may request repayment from you.
        3.6 When carrying out any of our Services at any Agent (as applicable), you may be required to provide
        proof of a valid identification document to the Agent to verify your identification to match the concerned
        Account.
        3.7 We will not be liable for funds sent to the wrong recipient due to incorrect information that you have
        provided.
        3.8 By using the Mojo Platform, you agree and undertake to comply with the following provisions:
        3.8.1 Your use of our Services should not violate any Applicable Laws, public interests,
        public morals, or the legitimate interests of others, including any actions that would
        interfere with, disrupt, negatively affect, or prohibit others from using our Services.
        3.8.2 We consider all activities related to your Account to be your own. You must only
        use the Services to transact on your own Account and not on behalf of any other
        person or entity.
        3.8.3 We may contact you through the Mojo Platform, your designated mobile number, or
        in any other way suitable, with information and notices regarding your use of the
        Services. It is your responsibility to regularly check your Account or other methods
        of communication that you have registered with us and to promptly retrieve and read
        our communications relating to your use of the Services. We shall not be liable for
        any loss arising out of your failure to do so. You will be liable for any loss that
        directly results from any failure to submit, or notify us of a change in your contact
        details in accordance with these Terms.
        3.8.4 We reserve the right to establish general practices and limits regarding the use of our
        Services, including additional Transaction limits on the value or number of
        Transactions during specified time periods, and deposit limits. These practices and
        limits may be implemented without prior notice to you. In addition to any applicable
        limits, we may impose restrictions on Transactions to or from your Account, or limit
        access to your Account, as we reasonably deem necessary to protect us or other
        users. Such restrictions or limitations may be imposed in cases such as:
        (a) If we are exposed to financial risk.
        (b) If a bankruptcy order is made against you or you've entered into an individual voluntary
        arrangement with your creditors.
        (c) You have violated any terms of this Agreement.
        (d) There is a dispute involving your Account or a Transaction associated with it.


        (e) It is necessary to protect the security of our systems.
        3.8.5 We may also restrict access to your Account while we conduct a pending
        investigation or resolve a dispute. Furthermore, we may hold funds in your Account
        as required by law, court order, or if requested by law enforcement or any
        governmental entity.
        3.8.6 We won't be responsible for any losses you suffer as a result of us refusing or
        delaying a Transaction.
        3.8.7 We retain the right to reject the execution of any Transaction, order, or other
        utilization of our Services if we have reasonable grounds to suspect fraudulent
        activity, a breach of the Terms, or a violation of the Applicable Law. Furthermore,
        Transactions may experience delays as we or a third party comply with obligations
        imposed by relevant anti-money laundering legislation, particularly in cases where
        there is suspicion of fraudulent conduct. In the event that we refuse to execute a
        Transaction, order, or other utilization of our Services, we will promptly notify you
        and provide you with valid reasons for the refusal, unless prohibited by law or
        compromising reasonable security measures.
        4. FEES
        4.1 We may apply fees for each executed Transaction as set forth in Schedule 2 and/or on the Mojo Platform,
        and these fees are subject to periodic amendments.
        4.2 By accepting these Terms, you authorize us to debit your Account for any applicable fees.
        4.3 When transferring funds from your Account, we have the right to deduct the relevant fees directly from
        your Available Balance, separate from the amount being sent. Similarly, when funds are transferred to
        your Account, we have the authority to deduct the relevant fees directly from the received amount.
        4.4 We reserve the right to change any of the fee structure corresponding to each Transaction if required to
        do so. You will be notified of such changes through the Mojo Platform. Continuation of the Service
        usage will be deemed as acceptance of such changes.
        4.5 You acknowledge that certain third parties, such as banks, may impose fees on inbound or outbound
        Transactions. We hold no responsibility or liability for such fees, as they are determined and imposed
        solely by the respective third parties. Therefore, you are solely responsible for any third-party fees
        incurred during inbound or outbound Transactions.
        4.6 The applicable fee will be displayed on the Mojo Platform prior to executing any Transaction, ensuring
        transparency and awareness of the associated fees.
        5. ACCOUNT CLOSURE
        5.1 Provided that there are no pending or ongoing Transactions, you retain the right to terminate this
        Agreement and close the Account at any time and for any reason by contacting us or notifying us through
        the Mojo Platform.
        5.2 Once we receive the communication to close the Account and terminate this Agreement, you will be
        granted a ninety-day (90) period from the date of receipt of such communication to withdraw any
        Available Balance. During this period, your Account will remain accessible solely for the purpose of
        withdrawing any available funds. Upon the expiration of the ninety-day (90) period, we will proceed
        with the closure of your Account ("Account Closure").
        5.3 After the Account Closure, and for a reasonable period of time, you can still withdraw any remaining
        funds by contacting us and utilizing a payment method determined by us.
        5.4 In the event of an Account Closure, you acknowledge and agree to the following:
        (a) Provisions regarding indemnification, warranty, liability, and limits thereon, confidentiality, protections
        of proprietary rights, trade secrets and any covenants contained in this Agreement which are specifically
        contemplated as surviving beyond or being performed after termination, or which by their nature are
        intended to be applicable after any such termination, shall survive the termination of this Agreement.
        (b) You remain responsible for any outstanding obligations related to your Account prior to the Account
        Closure.
        6. COMMUNICATION
        6.1 You can contact us through the following:
        (a) Email: info@mojo.com.lb;
        (b) Phone: (24) 522 720 or (24) 522 721
        (c) Message via the Mojo Platform.
        6.2 We'll usually communicate with you through the Mojo Platform.
        6.3 We are committed to providing you with your Account information and promptly notifying you about
        any fraud or suspected fraudulent activities concerning your Account. Additionally, we will inform you
        if there is a security threat to your Account. It is essential that you regularly check the Mojo Platform for
        such information. To ensure the security of your Account, we recommend downloading the latest
        software updates for your mobile device and promptly updating to the latest versions of the Mojo
        Platform as soon as they become available.
        6.4 In order to maintain effective communication, we may also contact you via in-app notification, text
        message or email. Therefore, it is important to regularly monitor your text messages and email account.
        Our communications will be in English.
        6.5 It is your responsibility to keep us updated and promptly inform us of any changes in the information
        provided. If we discover that any provided information is incorrect, we reserve the right to unilaterally
        update the information to maintain accuracy.
        7. SECURITY AND UNAUTHORIZED USE
        7.1 You bear the responsibility for ensuring the utmost security and integrity of your Account by diligently
        safeguarding your security details. These security details encompass usernames and passwords,
        commonly referred to as “Credentials”.
        7.2 By using the Mojo Platform, you understand and agree that we will never request sensitive information,
        such as your Credentials, through unsolicited emails, phone calls, or any other means of communication.
        You should exercise caution and refrain from sharing such information in response to any suspicious
        requests. In case of any doubts or concerns about the legitimacy of a communication purportedly from
        us, you should immediately contact us through the official contact channels provided in section 6.1 to
        verify the authenticity of the request or report any potential fraudulent activity.
        7.3 If at any time, you forget your Credentials or believe they have been compromised, you should promptly
        notify us and report the incident to seek immediate assistance. Taking swift action is vital to mitigate
        potential risks and protect your Account against unauthorized access or fraudulent activities. We will
        provide a secure way to revoke the old Credentials and issue new ones as soon as we reasonably can.
        You will remain responsible for all Transactions until your old, compromised Credentials are blocked.
        Your Account will be reinstated once your identity is confirmed and password has been reset.
        7.4 To ensure the highest level of security for your Account, it is essential that you implement or arrange for
        the following precautions:
        (a) Conceal passwords in a manner that makes it difficult for others to decipher.
        (b) Avoid using easily guessable information such as birthdays, telephone numbers, or predictable
        letter-number sequences as passwords.
        (c) Prohibit the storage of security details on any device, including computers or mobile phones.
        (d) Regularly change the password to access your Account.
        (e) Secure the device used to access your Account and prevent unauthorized use of it.
        (f) Refrain from utilizing any functionality, whether device or software specific, that allows for the
        storage or automatic retrieval of Account Credentials.
        (g) Ensure that the Account is securely logged out after each use.
        8. DATA PROCESSING
        8.1 We need to collect information about you to provide you with the Services under this Agreement. For
        more information about how we use your personal information, see our Privacy Policy.
        8.2 By entering into this Agreement, you acknowledge that we will gather, process and store your personal
        information for the purpose of providing our Services to you. This doesn’t affect any rights and
        obligations you or we have under data protection law.
        9. INTELLECTUAL PROPERTY RIGHTS
        9.1 You acknowledge and agree that all Intellectual Property Rights made available are and will remain our
        property or the property of our licensors (if any). We hold the exclusive right to use them and may license
        others to use them. Any Intellectual Property Rights developed in the course of this Agreement shall
        belong to us. You may use our Intellectual Property Rights solely for the purpose of enjoying our
        products and Services as set out under this Agreement. We retain all right, title, and interest in the Mojo
        Platform, Account and any associated Services and products, including any related Intellectual Property
        Rights. This Agreement does not transfer to you any ownership rights.
        9.2 You agree not to copy, modify, reverse engineer, or create derivative work of the Mojo Platform or any
        of the products or Services provided by us hereunder.
        10. LIMITATION OF LIABILITY
        10.1 In no event shall we be held liable to you or any third-parties for any indirect, incidental,
        consequential,
        or punitive damages arising out of or in connection with this Agreement, arising from any act or omission
        by us, our Agents or any third party including but not limited to loss of savings, loss of income or profit,
        loss of data, loss of goodwill or damage to reputation, loss of business contracts or opportunities, or
        business interruption, whether or not we have been advised of the possibility of such damages or whether
        foreseeable or not, and regardless of the form of action, whether in contract, warranty, tort, or otherwise.
        10.2 We shall not be liable or responsible for any lost profits or lost data related to:
        5.4 any failure or inability to access your Account and/or Mojo Platform;
        5.5 any malfunction, delay or unavailability of the mobile network, including but not limited to mobile
        phones, any acts of nature, power disruptions, email discontinuity, or internet issues beyond our
        reasonable control;
        5.6 refusal to provide any Service, failure to accept or honor any request for cash withdrawal, or
        unauthorized Transactions for any reason whatsoever.
        10.3 We provide no express or implied warranties regarding the Services and the Mojo Platform. The Services
        and the Mojo Platform are offered on an “AS IS”, “AS AVAILABLE” basis, without warranties of any
        kind.
        10.4 We will not be liable or responsible for any failure to perform, or delay in performance of, any of our
        obligations under this Agreement that are caused by events outside our reasonable control rendering the
        performance of the obligations hereunder impossible or extremely onerous (“Force Majeure Event”).
        A Force Majeure Event includes any act, event, non-happening, omission or accident beyond our
        reasonable control and includes in particular (without limitation) strikes, lock-outs or other industrial
        action, civil commotion, riot, invasion, terrorist attack, war (whether declared or not) or threat or
        preparation for war, fire, explosion, storm, flood, earthquake, subsidence, epidemic, pandemic
        (excluding covid-19) or other natural disaster, impossibility of the use of public or private
        telecommunications networks, the acts, decrees, legislation, regulations or restrictions of any
        government. The performance under this Agreement is deemed to be suspended for the period that the
        Force Majeure Event continues, and we will have an extension of time for performance for the duration
        of that period. We will use all reasonable endeavors to bring the Force Majeure Event to a close or to
        find a solution by which the obligations under this Agreement may be performed despite the Force
        Majeure Event.
        11. INDEMNIFICATION
        You covenant and agree to indemnify us and hold us harmless, or our affiliates, and our respective
        officers, directors, employees and permitted assigns, from and against any and all direct or contingent
        liabilities, claims, damages, losses or expenses, including reasonable attorneys’ fees, judgments and
        decrees, arising from any claim, demand or suit against us as a result of any misrepresentation, breach of
        warranty or non-fulfilment of any covenant of this Agreement, to the extent said liabilities, claims,
        damages, losses and expenses there from are a result of your breach of this Agreement.
        12. GOVERNING LAW AND DISPUTE RESOLUTION
        12.1 This Agreement, shall be governed by, and construed in accordance with the applicable laws of the
        Republic of Lebanon without any regard to conflict of laws principles (the “Applicable Law”). Both
        you and us will make a good-faith effort to resolve any dispute arising out of this Agreement within
        fifteen (15) days of first notice.
        12.2 Unresolved disputes arising in connection with these Terms will be submitted and shall be finally settled
        by the Lebanese Arbitration and Mediation Centre of the Beirut and Mount Lebanon Chamber of
        Commerce, Industry and Agriculture and in accordance with its rules of arbitration (the “Arbitration
        Rules”). A Sole arbitrator shall be appointed in accordance with the Arbitration Rules. The contracting
        parties declare and accept the provisions of the Arbitration Rules and undertake to abide by them. The
        arbitration award will be final and binding on the parties who waive any right to appeal.
        12.3 The arbitration proceeding shall occur in Beirut, Lebanon and shall be conducted in English.
        13. ASSIGNMENT
        13.1 This Agreement is personal to you and you cannot transfer any rights or obligations under it to anyone
        else.
        13.2 We may, at our own discretion, assign, novate, transfer, charge, subcontract or deal in any other manner
        with all or any of our rights or obligations under this Agreement without your consent.
        14. SEVERABILITY
        Each of the provisions of this Agreement is severable. If any provision is held to be or becomes invalid
        or unenforceable in any respect, it will not affect or impair the legality, validity or enforceability of this
        Agreement as a whole.
        15. WAIVER OF RIGHTS
        A waiver of any right under this Agreement is only effective if it is in writing and it applies only to the
        person to which the waiver is addressed and the circumstances for which it is given. Failure to exercise
        or delay in exercising any right or remedy provided under this Agreement or by law shall not constitute
        a waiver of such right or remedy, and it shall not prevent any future exercise in whole or in part thereof.


        SCHEDULE 1
        Defined Terms
        Account means the account you open with us through the Mojo Platform for the purpose
        of using our Services.
        Agent means the entity which provides deposit and withdrawal services to and from the
        Account, as well as any other services as determined by us from time to time.
        Applicable Law means the laws of the Republic of Lebanon and includes all applicable statutes,
        circulars, enactments, acts of legislature or parliament, laws, ordinances, rules,
        by-laws, regulations, notifications, guidelines, policies, directions, directives,
        writs, decrees, and regulations of any governmental authority, as amended from
        time to time and including but not limited to (a) Anti-Money Laundering and
        Combating the Financing of Terrorism Legislation, (b) Basic Circular No. 69
        dated 30/3/2000 on Electronic Financial and Banking Operations issued by the
        Governor of the Central Bank of Lebanon as amended from time to time, and (c)
        the rules, regulations, directives and circulars issued by the Central Bank of
        Lebanon.
        Available
        Balance
        means the Account balance which is displayed electronically on the Mojo
        application.
        Fresh LBP means the amounts denominated in Lebanese Pounds that are available for
        immediate use in transactions and are not subject to any transfer or withdrawal
        restrictions in the Republic of Lebanon.
        Fresh USD means the amounts denominated in United States Dollars that are available for
        immediate use in transactions and are not subject to any transfer or withdrawal
        restrictions in the Republic of Lebanon.
        Intellectual
        Property Rights
        means any and all licenses, all current and future know-how, rights to inventions
        (whether or not reduced to writing), patents (including patents of addition,
        substitutions, reissues, extensions, re-examinations, renewals, supplemental
        patent certificates, confirmation patents and registration patents), patent
        applications (including any provisional, divisional, continuations, continuationsin-part and substitutions
        thereof), designs, design applications and design
        registrations, software, hardware, technology, processes, methods, trademarks,
        trademark applications, trademark registrations, trade names, trade dress, service
        marks, logos (whether registered or unregistered), copyrights, copyright
        applications, copyright registrations, right of confidence, trade secret, right to
        extract or exploit data, database rights and other intellectual property rights now
        or hereafter recognized anywhere in the world, now or hereafter owned, held,
        prepared for, or used by a person or entity.
        Merchant means the entity that accepts payments through the Mojo Platform as determined
        by us from time to time.

        <img class="table" src="/assets/images/t-and-c-table2.png" alt="">
      </span>
    </div>
  </div>

  <app-newsletter></app-newsletter>
</section>