<section class="terms-and-conditions">
  <div class="hero-section">
    <div class="header">
      <span id="text-xs">Mojo</span>
      <span id="text-xl">Terms and Conditions</span>
    </div>

    <!-- Tab group and it's content wrappers underneath(tab-content) -->
    <div class="tab">
      <div
        class="tabUnselected"
        (click)="setActiveTab('tab1')"
        [class.active]="tabSelected === 'tab1'"
      >
        Personal
      </div>

      <div
        class="tabUnselected"
        (click)="setActiveTab('tab2')"
        [class.active]="tabSelected === 'tab2'"
      >
        Merchant
      </div>

      <div
        class="tabUnselected"
        (click)="setActiveTab('tab3')"
        [class.active]="tabSelected === 'tab3'"
      >
        Agent
      </div>
    </div>

    <!-- Tab group's content -->
    <div class="tab-content">
      <ng-container *ngIf="tabSelected === 'tab1'">
        <!-- Content for Tab 1 -->
      </ng-container>

      <ng-container *ngIf="tabSelected === 'tab2'">
        <!-- Content for Tab 2 -->
      </ng-container>

      <ng-container *ngIf="tabSelected === 'tab3'">
        <!-- Content for Tab 3 -->
      </ng-container>
    </div>

    <!-- A wrapper around the input and the buttons to add all together in one -->
    <div class="input-wrapper">
      <input type="email" name="" id="" placeholder="Search" />
      <button id="btn-filled" type="submit">Search</button>
    </div>
  </div>

  <!-- Container to hold the terms and conditions content -->
  <div id="container">
    <div class="main-content-container">
      <span id="text-lg">Eu ridiculus fringilla aenean</span>

      <span id="text-rg">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem
        porro, deleniti tenetur quibusdam, ipsum rerum cumque reiciendis
        consectetur nostrum amet labore quos maxime voluptatum est impedit
        adipisci repudiandae culpa illo at doloribus possimus. Accusantium
        laborum voluptatem molestias aperiam laudantium nisi? Dignissimos
        explicabo dolor deserunt natus enim id. Quidem veniam inventore quod,
        culpa mollitia recusandae quis obcaecati sed maxime dolorum eius nulla
        aperiam vero quibusdam omnis ab beatae doloremque possimus? Voluptatum
        veniam commodi omnis magni sed consectetur, unde libero, ratione
        perspiciatis, totam facere labore eius suscipit molestiae quam quo ea
        fugit alias officia fugiat. Nihil ratione necessitatibus aliquam
        officiis cupiditate, labore laudantium maiores, eveniet a fugit corrupti
        minima iure sapiente rem dolor, delectus animi! Voluptas pariatur
        laudantium accusamus consectetur facilis consequatur quaerat magni
        architecto illum voluptatibus soluta quod tenetur tempora expedita,
        magnam odio porro ipsa eveniet non debitis reprehenderit nulla? Aliquam
        mollitia eum iure recusandae quidem, tenetur aliquid exercitationem,
        quaerat itaque totam, ipsa nobis possimus sunt distinctio deserunt rem
        perspiciatis quis cum aperiam. Quod, eius id sunt repellat magni
        officiis quo? Aperiam ad sequi quod laudantium non ex fugit commodi sint
        iusto, voluptatum expedita, impedit totam distinctio, consectetur a hic
        quas numquam cupiditate. Neque ab facilis corrupti sapiente illo? Quis
        iure ullam veritatis exercitationem minus dicta vitae, et enim sequi
        odit fugiat maiores sed omnis, doloribus itaque eos. Odio atque,
        assumenda, pariatur unde similique culpa, ea explicabo voluptas deleniti
        natus deserunt nihil quas. Facere reprehenderit totam repellat sed?
        Libero porro praesentium placeat dicta, totam quod neque tempora
        explicabo quos quam numquam accusantium non necessitatibus provident
        repudiandae. Expedita porro rem autem blanditiis, totam provident
        temporibus quia, et officia fuga nihil praesentium ut, odit nam eos?
        Nemo nostrum ipsam molestiae quaerat eligendi, excepturi esse debitis
        illo pariatur nesciunt. Eum porro sint similique officiis cupiditate
        quaerat corrupti blanditiis incidunt, recusandae veritatis iste vero
        nihil minima obcaecati doloribus aliquid nemo sapiente. Quia corporis
        cum architecto illum aliquam hic ducimus sequi excepturi nesciunt eum,
        itaque placeat. Laboriosam omnis at sequi vitae odio corporis maxime
        expedita quam perspiciatis nobis. Expedita, aspernatur provident
        suscipit accusamus delectus perferendis, illo, illum quidem possimus ab
        quos. Commodi, tenetur voluptatem mollitia at rerum nihil reprehenderit
        corporis quisquam esse fugit dolores soluta dolorum culpa tempora
        laudantium magnam aliquid facere deserunt nostrum omnis qui quod
        consectetur molestias. Beatae facere ex aspernatur corrupti magni,
        aperiam distinctio? Magnam alias fugit nobis cum ipsa a, quam ex vitae
        expedita. Quaerat fuga illo, necessitatibus incidunt facilis molestiae
        possimus odio sed quisquam consequuntur nisi animi aspernatur, eligendi
        veniam? Quam delectus minima nulla eos natus veniam, facere sapiente eum
        rem accusamus. Quisquam tempora pariatur atque consequuntur beatae,
        praesentium, nemo odio reiciendis eaque itaque animi rerum consequatur,
        sequi totam! Labore iure at ratione, eveniet magni veritatis ullam
        delectus voluptatem doloremque quod dolorum corporis aperiam! Quis illo
        voluptatem officiis nemo illum dolorum vitae dolor eligendi ipsum
        adipisci aperiam recusandae est ratione, quae esse nam velit aut dicta
        suscipit similique? Nobis sunt quaerat vero sequi veritatis deserunt,
        sapiente quod dolorem. Quae, rem quibusdam est illum officia soluta
        alias dicta error assumenda perspiciatis at iure labore consequatur
        doloremque ipsa suscipit cum neque nemo necessitatibus exercitationem
        temporibus fuga. Quas eum doloremque non exercitationem ea iure
        voluptatum est, nisi quisquam laudantium corporis alias quod, culpa
        reprehenderit eos, quam beatae aliquid asperiores perspiciatis
        cupiditate temporibus modi. Facilis sunt, tenetur debitis sint quibusdam
        ea perferendis voluptates excepturi odio natus vitae labore assumenda
        quidem, maxime ab esse architecto tempore sapiente inventore nesciunt
        doloribus atque. Veritatis id vel asperiores voluptatum in quas eos iure
        aut optio, atque dolores! Modi aspernatur aliquam laborum sapiente, hic
        dolorem molestias minus perspiciatis beatae, dicta quibusdam accusantium
        nostrum provident quae omnis error quidem laboriosam odit.
      </span>
    </div>
  </div>

  <app-newsletter></app-newsletter>
</section>
