<section class="terms-and-conditions">
  <div class="hero-section">
    <div class="header">
      <span id="text-xs">Mojo</span>
      <span id="text-xl">Terms and Conditions</span>
    </div>

    <!-- Tab group and it's content wrappers underneath(tab-content) -->
    <div class="tab">
      <div class="tabUnselected" (click)="setActiveTab('tab1')" [class.active]="tabSelected === 'tab1'">
        Personal
      </div>

      <div class="tabUnselected" (click)="setActiveTab('tab2')" [class.active]="tabSelected === 'tab2'">
        Merchant
      </div>

      <div class="tabUnselected" (click)="setActiveTab('tab3')" [class.active]="tabSelected === 'tab3'">
        Agent
      </div>
    </div>

    <!-- Tab group's content -->
    <div class="tab-content">
      <ng-container *ngIf="tabSelected === 'tab1'">
        <!-- Content for Tab 1 -->
      </ng-container>

      <ng-container *ngIf="tabSelected === 'tab2'">
        <!-- Content for Tab 2 -->
      </ng-container>

      <ng-container *ngIf="tabSelected === 'tab3'">
        <!-- Content for Tab 3 -->
      </ng-container>
    </div>

    <!-- A wrapper around the input and the buttons to add all together in one -->
    <div class="input-wrapper">
      <input type="email" name="" id="" placeholder="Search" />
      <button id="btn-filled" type="submit">Search</button>
    </div>
  </div>

  <!-- Container to hold the terms and conditions content -->
  <div id="container">
    <div class="main-content-container">
      <span id="text-lg">PRIVACY POLICY MOJO</span>

      <span id="text-rg">
        We, INTERPAY SAL, a joint-stock company validly existing under the laws
        of the Republic of Lebanon (“<span id="bold-txt">we</span>”, “<span id="bold-txt">us</span>”, “<span
          id="bold-txt">our</span>” or “<span id="bold-txt">Interpay</span>”), take your privacy very seriously and are
        fully committed to
        protecting it. As a user of our Mojo Platform, you may be referred to as
        “you”, “yours” or “User”. We believe that you should know what personal
        data we collect and use, as well as understand your rights in respect of
        your personal data. <br /><br />

        This Privacy Policy describes how your personal information is
        collected, used, and shared when you visit or when you register on the
        Mojo Platform (the “<span id="bold-txt">Privacy Policy</span>”).
        <br /><br />

        We urge you to read this Privacy Policy and our Terms carefully before
        accessing or using the Mojo Platform. By downloading, accessing, or
        using any part of the Mojo Platform or registering for an Account
        through it, you are using our services and/or any kind of functionality
        offered on the Mojo Platform (the “<span id="bold-txt">Services</span>”); you are agreeing to be bound by this
        Privacy Policy. This Privacy
        Policy applies to all Account holders on the Mojo Platform regardless of
        how it is accessed, whether through a mobile application or any other
        means. <br /><br />

        Capitalized terms used but not defined herein shall have the meanings
        ascribed to them in our Terms.<br /><br />

        Furthermore, the Mojo Platform is not intended for use by minors, and we
        do not knowingly collect or store data relating to individuals under the
        age of 18.<br /><br />

        When you create an Account or make a transaction or attempt to make a
        transaction through the Mojo Platform, we collect certain personal
        information from you. This information may include your identity,
        address, occupation, income details, contact details, device
        information, payment information and other information that we may deem
        necessary to render the services sought (“<span id="bold-txt">Personal Data</span>”). Please note that your
        Personal Data is required in order to
        complete your Account registration.<br /><br />

        <span id="bold-txt">CHANGES</span><br /><br />
        We may amend the provisions of this Privacy Policy at any time. Should
        we do so, we will notify you by various methods through the Mojo
        Platform or we may even send you an e-mail notice when the change in
        question is relevant to your privacy, to enable you to review the
        changes and assess them. To stay informed about any updates or
        revisions, we recommend that you periodically review this Privacy
        Policy. <br /><br />

        <span id="bold-txt">CONTACT US</span><br /><br />
        For more information about this Privacy Policy or inquiries regarding
        our privacy practices please contact our call centre at +961
        24522720/721 where our agents will be ready to assist you at any
        time.<br /><br /><br /><br />

        <span id="bold-txt">GDPR COMPLIANT</span><br /><br />
        The General Data Protection Regulation or “GDPR” is a European privacy
        and data protection law. Under the GDPR, residents of the EU may
        exercise certain rights regarding their personal data. <br /><br />

        We remain compliant with the European data protection laws to ensure the
        protection of your personal data. <br /><br /><br /><br />

        <span id="bold-txt">PERSONAL INFORMATION WE COLLECT</span><br /><br />

        <span id="bold-txt">Information you give us</span><br />

        We will collect the information you provide through the Mojo Platform
        including: <br /><br />

        <span id="bold-txt">Identification documents and images,</span> which
        includes copies of your identification documents as well as your image
        in photo or video form, as part of our Know-Your-Customer (KYC) checks,
        and any other information we ask you to give to comply with anti-money
        laundering laws, combat terrorist financing, and assist with fraud
        monitoring. <br /><br />

        <span id="bold-txt">Identity and contact information,</span> which
        includes your name, surname, father’s name, mother’s name, date of
        birth, username or similar identifier, phone number, email address,
        residency address, etc. This information is collected to register you on
        the Mojo Platform and provide you access to your Account and the
        Services. <br /><br /><br /><br />





        <span id="bold-txt">Information collected from your use of the Mojo Platform and our Services</span><br /><br />

        <span id="bold-txt">Financial and transaction information,</span> which
        includes your payment details and transaction information related to
        activities conducted through the Mojo Platform. This includes the date,
        time, amount, currencies, exchange rate, beneficiary details,
        information about the Merchants involved in the Transactions, IP
        addresses of the sender and receiver, details of device used to initiate
        the payment, and the payment method used. This information is collected
        to facilitate and process Transactions.<br /><br />

        <span id="bold-txt">Technical information, </span>which includes device
        identification number, IP address, device type, time zone setting,
        geographical location, operating system etc. to meet requests, enhance
        our Services and safeguard the security of the Mojo Platform.<br /><br />

        <span id="bold-txt">Commercial information </span>about your Mojo
        Platform visit, including the links you clicked on, through and from our
        website or application, services you viewed or searched for, page
        response times, download errors, length of visits to certain pages, page
        interaction information (e.g., scrolling and clicks), methods used to
        navigate away from the page, as well as information about your tastes
        and preferences for marketing purposes and to use data analytic to
        improve the Mojo Platform and our customer services.<br /><br /><br /><br />




        <span id="bold-txt">Information collected from third parties and public sources</span><br /><br />

        <span id="bold-txt">Third-party information </span>we collect personal data from entities who provide services
        through the Mojo Platform such as Merchants and Agents, and other entities and partners involved to help us
        provide our Services.<br /><br /><br /> <br>

        <span id="bold-txt">HOW WE USE YOUR PERSONAL INFORMATION</span><br><br>

        We will handle your Personal Data in accordance with the Applicable Laws ensuring its proper use in the
        following circumstances: <br><br>

        <li>Fulfilling our contractual obligations: We will process your Personal Data to honour the agreements and
          contracts we have with you.</li><br>

        <li>Marketing and promotional purposes: we may also use your Personal Data for marketing and promotional
          purposes, this includes providing you with information about our products, services, promotions, special
          offers, and updates that we believe may be of interest to you.</li><br>

        <li>Providing our Services: In order to deliver our Services effectively, there may be instances where we
          require certain Personal Data without which we would be unable to fulfil your requests.</li><br>

        <li>Compliance with legal obligations: We have a legal duty to retain certain information even after you have
          requested its deletion. However, we will only retain the necessary data to meet our legal or regulatory
          requirements, resolve disputes, prevent fraud and abuse, or enforce our Terms.</li><br>

        <li>Legitimate interests: We may process your Personal Data when it aligns with our legitimate interests or
          those of a third party, ensuring that any such processing is balanced, reasonable, and respects your privacy
          rights.</li><br>

        <li>Substantial public interest: In specific cases where there is a substantial public interest, we may
          process your Personal Data.</li><br>

        <li>Consent: Where you have provided your consent for the collection of your Personal Data, we will process it
          in accordance with the scope of your consent.</li><br /><br /><br /> <br>



        <span id="bold-txt">WHERE WE STORE YOUR PERSONAL DATA</span><br><br>

        We may store your Personal Data outside of Lebanon, on a European based secured cloud. When we do this, we make
        sure that your data is protected in the most secure way and that the country and organisation where is it stored
        provides an adequate level of protection for personal data in line with Lebanon’s requirements. <br><br>

        <span id="bold-txt">DISCLOSURE OF YOUR PERSONAL INFORMATION</span><br><br>

        To achieve the purposes mentioned in this Privacy Policy, we might grant access to some of your Personal Data to
        third parties that offer services through the Mojo Platform or to third parties that provide us with support in
        the Services we offer you. These third parties include: <br><br>

        <li>Merchants;</li> <br>
        <li>Agents;</li> <br>
        <li>financial institutions;</li> <br>
        <li>anti-fraud detection and prevention entities, public authorities, law enforcement agencies, or courts;</li>
        <br>
        <li>technological and analytical service providers; </li> <br>
        <li>providers of customer support related services;</li> <br>
        <li>service providers and collaborators related to marketing and publicity, such as advertising agencies,
          advertising partners or social media outlets;</li><br>
        <li>other third parties when you consent to such sharing.</li><br>

        Furthermore, it is possible that we may enter into transactions such as selling, transferring, or merging parts
        of our business or assets with third parties. Similarly, we may also consider acquiring other businesses or
        merging with them. In the event of such changes to our business structure, the new owners may utilize your
        Personal Data in the same manner as described in this Privacy Policy. <br><br>

        We hold a firm commitment to safeguarding the security and legality of your Personal Data, even when shared with
        third parties. We require that all third-party service providers respect the confidentiality and integrity of
        your Personal Data, handling it in strict accordance with the Applicable Laws. <br><br>

        <span id="bold-txt">THIRD-PARTY CONTENT, FUNCTIONALITY, AND SERVICES</span><br><br>

        Some of the content, functionality, and services on the Mojo Platform, such as advertisements or embedded
        features, may be provided by third parties that are not affiliated with us. These third parties may collect or
        receive certain information about your use of the Services, including through the use of cookies, web beacons,
        and similar technologies. These entities may collect this information over time and combine it with information
        collected from different websites and online services. We are not responsible for the privacy practices of these
        entities. <br><br>

        <span id="bold-txt">DATA RETENTION</span><br><br>

        We will retain your Personal Data for as long as your Account is active or as needed to provide you with our
        Services, to fulfil the purposes for which it was collected and processed. This includes complying with our
        legal and statutory obligations, as well as accounting and reporting requirements. <br><br>

        To determine the appropriate retention period for your Personal Data, we will consider the amount, nature, and
        sensitivity of the Personal Data, the potential risk of harm from unauthorized use or disclosure, the purposes
        for which we process your Personal Data and whether we can achieve those purposes through other means, and the
        applicable legal requirements. <br>

        In certain instances, such as in the case of a complaint or if there is a reasonable anticipation of litigation
        related to our relationship with you, we may retain your Personal Data for an extended period. Therefore, even
        after closing your Account, we will retain certain Personal Data to comply with these obligations. <br><br>

        Additionally, there may be instances where we anonymize your Personal Data, rendering it no longer identifiable
        to you. In such cases, we may use the anonymized information indefinitely without further notice to you.
        <br><br>

        If you would like specific details regarding the retention periods for different aspects of your Personal Data,
        please contact us, and we will provide the necessary information. <br><br>

        <span id="bold-txt">YOUR RIGHTS</span><br><br>

        We undertake to keep your Personal Data confidential and to use it for the purposes set out in this Privacy
        Policy as amended from time to time. <br><br>

        In addition, we may offer you the possibility to exercise your rights and setting your privacy preferences when
        using some of our services or visiting the Mojo Platform. <br><br>

        In particular, notwithstanding the purpose or legal basis we use to process your Personal Data, and to the
        extent provided by law, you are entitled to the following: <br><br>

        <li>To have <span id="bold-txt">access</span> to the Personal Data we collected from you</li> <br><br>
        <li>To request us to <span id="bold-txt">rectify</span> the Personal Data that we have available. This allows
          you to request corrections
          to any incomplete or inaccurate data we have in our records pertaining to you. We may require verification of
          the accuracy of any new data you provide to us in order to facilitate the necessary corrections. Please bear
          in mind that you shall be liable for any loss or damage caused to Interpay or to any third party by providing
          erroneous, inaccurate or incomplete information.</li> <br><br>

        <li>To request from us the <span id="bold-txt">deletion</span> of your Personal Data to the extent that they are
          no longer necessary for
          the purpose for which we need to keep processing them, as explained herein, or when we are no longer legally
          permitted to process them. However, we may not always be able to comply with your request of erasure for
          specific legal reasons which will be notified to you, if applicable, at the time of your request. </li>
        <br><br>

        <li>To <span id="bold-txt">object to</span> or <span id="bold-txt">restrict</span> the processing of your
          Personal Data when we rely on legitimate interests (or the
          legitimate interests of a third party) and there are specific circumstances in which you believe that such
          processing infringes upon your fundamental rights and freedoms. Additionally, you have the right to object to
          the processing of your Personal Data for direct marketing purposes. However, it is important to note that
          there may be cases where we can demonstrate compelling legitimate grounds to continue processing your
          information. We will assess each objection on a case-by-case basis, taking into account the specific
          circumstances and applicable legal requirements. </li><br><br>

        If you have given us your consent to process your Personal Data for any purpose, you also have the right to
        withdraw such consent at any time. However, if you withdraw your consent, we may not be able to provide certain
        services to you. We will advise you if this is the cases at the time you withdraw your consent. <br><br>

        If you wish to exercise any of the rights set out above, please contact us. <br><br>

        <span id="bold-txt">DATA SECURITY</span><br><br>

        We have implemented comprehensive security measures to protect your Personal Data from accidental loss,
        unauthorized access, alteration, or disclosure. Moreover, we restrict access to your Personal Data to only those
        employees, contractors, and third parties who require it for legitimate business purposes. They will handle your
        Personal Data strictly according to our instructions and are bound by confidentiality obligations. <br><br>

        In the event of any suspected Personal Data breach, we promptly address the situation and, where legally
        mandated, notify you and the relevant regulatory authorities of the breach. We take our responsibility to uphold
        data protection seriously and ensure compliance with the Applicable Law. <br><br>

        While we strive to protect the information we maintain, it is important to note that no method of data
        transmission or storage is 100% secure. Despite our efforts, we cannot ensure or warrant the security of any
        information that you transmit to us or that is stored on our systems. However, we continuously review and update
        our security measures to adapt to emerging threats and technological advancements. <br><br>

        <span id="bold-txt">COOKIES</span><br><br>

        Cookies are small text files that are saved to a computer, tablet, smartphone, or similar device when someone
        visits a website, an application, or other online services. Their primary purpose is to recognize users when
        they revisit the same website or application, allowing for the retention of login details and behavioural
        information. <br><br>

        We and the third parties that provide content, functionality, or business services on the Mojo Platform may use
        cookies to collect information about your activities. This information is used to provide you with more relevant
        content and promotional materials and help us understand your interests and improve the Mojo Platform. <br><br>

        It is important to be aware that the Mojo Platform utilizes persistent cookies to retain User confirmation of
        the Privacy Policy. Nevertheless, your consent will be required before employing cookies. You have the option to
        decline the use of cookies; however, doing so will result in restricted access to the Mojo Platform. <br><br>

        <span id="bold-txt">OPTING OUT</span> <br><br>

        You can ask us to stop sending you marketing messages at any time by contacting us at the following email
        address: <br><br>
      </span>
    </div>
  </div>

  <app-newsletter></app-newsletter>
</section>


