<section id="container" class="entire-feedbacks-section">
  <span id="text-lg">What others say about us</span>

  <!-- All avatars, left and right -->

  <div
    class="avatar-one"
    style="
      background-image: url('/assets/images/avatar-1.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  ></div>

  <div
    class="avatar-two"
    style="
      background-image: url('/assets/images/avatar-2.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  ></div>

  <div
    class="avatar-three"
    style="
      background-image: url('/assets/images/avatar-3.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  ></div>

  <div
    class="avatar-four"
    style="
      background-image: url('/assets/images/avatar-4.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  ></div>

  <div
    class="avatar-five"
    style="
      background-image: url('/assets/images/avatar-5.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  ></div>

  <div
    class="avatar-six"
    style="
      background-image: url('/assets/images/avatar-6.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  ></div>

  <!-- Main div in the center -->
  <div class="main-feedback-container">
    <div
      class="avatar-main"
      style="
        background-image: url('/assets/images/avatar-main.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    ></div>

    <!-- Container for feedback content, name and review/comment-->
    <div class="feedback-content">
      <span class="name" id="text-lg">Olandskr Alexander</span>
      <span class="comment"
        >Payments are much faster and simpler to make than other wallets on the
        market.</span
      >
    </div>

    <div class="button-wrapper">
      <div class="control-btn">
        <img src="/assets/svgs/icn-chevron-left.svg" alt="" />
      </div>

      <div class="control-btn">
        <img src="/assets/svgs/icn-chevron-right.svg" alt="" />
      </div>
    </div>
  </div>
</section>
