<section id="container" class="mojoer-steps-section">

  <!-- Main header and the sub one -->
  <div class="header-wrapper">
    <span id="text-lg">How it works</span>
    <span id="text-rg">Step by step guides to use Mojo app.</span>
  </div>

  <!-- Main wrapper holding the steps cards (pink background)-->
  <div class="steps-main-section">

    <!-- Container holding a single step with its tag ("step-tag" class) -->
    <div class="single-step-wrapper" *ngFor="let info of howItWorks">

      <div class="step1" id="stepContainer">

        <div id="inner-stepContainer">
          <iframe [src]="sanitizeUrl(info.videoLink)" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>

        <span id="text-md">{{info.title}}</span>
        <span id="text-sm">{{info.description}}</span>

      </div>

    </div>

   

  </div>

</section>