<section class="mojoer-steps-section">

    <!-- Main header and the sub one -->
    <div class="header-wrapper">
      <span id="text-lg">How it works</span>
      <span id="text-rg">Step by step guides to use Mojo app.</span>
    </div>
  
    <!-- Main wrapper holding the steps cards (pink background)-->
    <div class="steps-main-section">
  
      <!-- Container holding a single step with its tag ("step-tag" class) -->
      <div class="single-step-wrapper">
  
        <div class="step1" id="stepContainer">
  
          <div id="inner-stepContainer">
            <iframe src="https://www.youtube.com/embed/i3rhDtDL31I?si=ERN1zM_m1vl78V8z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
  
          <span id="text-md">Download The Mojo App</span>
          <span id="text-sm">Download on IOS and Android.</span>
  
        </div>
  
      </div>
  
      <div class="single-step-wrapper">
  
        <div class="step2" id="stepContainer">
  
          <div id="inner-stepContainer">
            <iframe src="https://www.youtube.com/embed/i3rhDtDL31I?si=ERN1zM_m1vl78V8z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
  
          <span id="text-md">Complete account profile</span>
          <span id="text-sm">What you need to open a Mojo account.</span>
  
        </div>
  
      
  
  
      </div>
  
      <div class="single-step-wrapper">
  
        <div class="step3" id="stepContainer">
  
          <div id="inner-stepContainer">
            <iframe src="https://www.youtube.com/embed/i3rhDtDL31I?si=ERN1zM_m1vl78V8z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
  
          <span id="text-md">You are now a Mojoer</span>
          <span id="text-sm">You can pay and receive funds very quickly.</span>
  
        </div>
  
        
  
      </div>
  
  
  
  
  
    </div>
  
  </section>