<section id="container" class="mojoer-steps-section">

  <!-- Main header and the sub one -->
  <div class="header-wrapper">
    <span [innerHTML]="PageData.result.pageSection[2].header | safeHtml" id="text-lg"></span>
    <span [innerHTML]="PageData.result.pageSection[2].subtext | safeHtml" id="text-rg"></span>
  </div>

  <!-- Main wrapper holding the steps cards (pink background)-->
  <div class="steps-main-section" *ngFor="let info of becomeAMojoer">


    <ng-container *ngFor="let info of info.Steps">
      <!-- Container holding a single step with its tag ("step-tag" class) -->
      <div class="single-step-wrapper">


        <ng-container *ngFor="let info of info.firstStep">
          <div class="step1" id="stepContainer">

            <div id="inner-stepContainer">

              <img class="app-store-logo" src="/assets/images/app-store-logo.png" alt="">
              <img class="phone-mockup" src="/assets/images/phone-mockup-1.png" alt="">
              <img class="play-store-logo" src="/assets/images/play-store-logo.png" alt="">
            </div>

            <span id="text-md">{{PageData.result.pageSection[2].titleDescription[0].title}}</span>
            <span id="text-sm">{{PageData.result.pageSection[2].titleDescription[0].description}}</span>

          </div>


          <!-- Step tags-->
          <div class="step-tag">
            <div style="background-color: rgba(69, 0, 255, 1);" class="number">
              <span>1</span>
            </div>
            <span class="step-tag-txt">{{info.stepTagTxt}}</span>
          </div>
        </ng-container>



      </div>

      <div class="single-step-wrapper">

        <ng-container *ngFor="let info of info.secondStep">
        <div class="step2" id="stepContainer">

          <div id="inner-stepContainer">
            <img class="phone-mockup" src="/assets/images/phone-mockup-2.png" alt="">
          </div>

          <span id="text-md">{{PageData.result.pageSection[2].titleDescription[1].title}}</span>
          <span id="text-sm">{{PageData.result.pageSection[2].titleDescription[1].description}}</span>

        </div>

        <!-- Step tags-->
        <div class="step-tag">
          <div style="background-color: rgba(255, 140, 66, 1);" class="number">
            <span>2</span>
          </div>
          <span class="step-tag-txt">{{info.stepTagTxt}}</span>
        </div>


        </ng-container>
      </div>
      

      <div class="single-step-wrapper">

        <ng-container *ngFor="let info of info.thirdStep">
        <div class="step3" id="stepContainer">

          <div id="inner-stepContainer">
            <img class="phone-mockup" src="/assets/images/phone-mockup-3.png" alt="">
          </div>

          <span id="text-md">{{PageData.result.pageSection[2].titleDescription[2].title}}</span>
          <span id="text-sm">{{PageData.result.pageSection[2].titleDescription[2].title}}</span>

        </div>

        <!-- Step tags-->
        <div class="step-tag">
          <div style="background-color: rgba(5, 178, 219, 1);" class="number">
            <span>3</span>
          </div>
          <span class="step-tag-txt">{{info.stepTagTxt}}</span>
        </div>

        </ng-container>
      </div>

    </ng-container>





  </div>

</section>