/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Mobile
@media (min-width: 340px) {

  // "Steps to become a mojoer" section
  .mojoer-steps-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-top: 6rem !important;
  }

  .mojoer-steps-section .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .mojoer-steps-section .header-wrapper > #text-lg {
    color: rgba(69, 0, 255, 1);
  }

  .mojoer-steps-section .header-wrapper > #text-rg {
    color: rgba(17, 5, 43, 1);
  }

  // Main wrapper holding the steps cards (pink background)
  .mojoer-steps-section .steps-main-section {
    background: rgba(253, 225, 255, 1);
    border-radius: 1.75rem;
    padding: 3.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }

  // Container holding a single step with its tag ("step-tag" class)
  .steps-main-section .single-step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }

  // .single-step-wrapper stepContainer{
  //   width: 100%;
  // }

  .single-step-wrapper .step-tag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .step-tag .number {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    color: white;
    font-family: 'Inter-Regular';
  }

  .step-tag .step-tag-txt{
    font-family: 'Inter-Medium';
    color: rgba(31, 41, 55, 1);
    font-size: 1rem;
  }

  .steps-main-section #text-sm {
    font-size: 0.7rem;
  }


  .mojoer-steps-section .steps-main-section .step1 #inner-stepContainer {
    background: rgba(241, 241, 255, 1);
  }

  .mojoer-steps-section .steps-main-section .step2 #inner-stepContainer {
    background: rgba(255, 225, 205, 1);
  }

  .mojoer-steps-section .steps-main-section .step3 #inner-stepContainer {
    background: rgba(217, 217, 217, 1);
  }

  .step1 #inner-stepContainer .app-store-logo {
    width: 2.5rem;
    left: 1.5rem;
    position: absolute;
    top: 5rem;
  }

  .step1 > #inner-stepContainer > .phone-mockup {
    position: absolute;
    width: 22rem;
    left: -1rem;
    top: -8rem;
  }

  .step1 #inner-stepContainer .play-store-logo {
    width: 2.5rem;
    position: absolute;
    top: 8rem;
    right: 1.5rem;
  }

  .step2 > #inner-stepContainer > .phone-mockup {
    position: absolute;
    width: 20rem;
    right: 0rem;
    bottom: 0;
  }

  .step3 > #inner-stepContainer > .phone-mockup {
    position: absolute;
    width: 18rem;
    right: 0;
    bottom: 0;
  }
}

// Desktop - Small
@media (min-width: 1024px) {

  // Main wrapper holding the steps cards (pink background)
  .mojoer-steps-section .steps-main-section {
    flex-direction: row;
    gap: 1rem;
  }

  .step1 #inner-stepContainer .app-store-logo {
    width: 2.5rem;
    left: 0.5rem;
    position: absolute;
    top: 5rem;
  }

  .step1 > #inner-stepContainer > .phone-mockup {
    position: absolute;
    width: 22rem;
    left: -3rem;
    top: -8rem;
  }

  .step1 #inner-stepContainer .play-store-logo {
    width: 2.5rem;
    position: absolute;
    top: 8rem;
    right: 0.5rem;
  }

  .step2 > #inner-stepContainer > .phone-mockup {
    position: absolute;
    width: 20rem;
    right: -2rem;
    bottom: 0;
  }


}

// Desktop - Medium
@media (min-width: 1280px) {

  .mojoer-steps-section .steps-main-section {
    gap: 2rem;
    padding: 6rem 0;
  }

  .steps-main-section #text-sm {
    font-size: 0.8rem;
  }

  .step1 #inner-stepContainer .app-store-logo {
    width: 3rem;
    left: 0.75rem;
  }

  .step1 > #inner-stepContainer > .phone-mockup {
    width: 22rem;
    left: -2rem;
    top: -8rem;
  }

  .step1 #inner-stepContainer .play-store-logo {
    width: 3rem;
    right: 0.75rem;
  }

  .step2 > #inner-stepContainer > .phone-mockup {
    width: 22rem;
    right: -2.5rem;
  }

  .step3 > #inner-stepContainer > .phone-mockup {
    width: 19rem;
    right: 0;
  }
}

// Desktop - Standard
@media (min-width: 1440px) {
 
  .step1 > #inner-stepContainer > .phone-mockup {
    width: 25rem;
    left: -2.75rem;
    top: -11rem;
  }

  .step2 > #inner-stepContainer > .phone-mockup {
    width: 24rem;
  }

  .step3 > #inner-stepContainer > .phone-mockup {
    width: 21rem;
    right: 0;
  }
}

@media (min-width: 1650px) {

  .mojoer-steps-section .steps-main-section {
    gap: 4rem;
  }

  .step3 > #inner-stepContainer > .phone-mockup {
    width: 23rem;
  }
}
