
<div id="container" class="entire-faq-section">

    <div class="inner-faq-section">

        <!-- Container to hold text headers -->
        <div class="header">
            <span id="text-lg">FAQ's</span>
            <span id="text-rg">Here are some common questions and answers about Mojo.</span>
        </div>

        <!-- Holds all accordions together in a grid -->
        <div class="accordion-group">
            <!-- A single accordion's container, but populated with data-->
        <div class="accordion-wrapper" (click)="toggleAccordion(i)" [class.isExpanded]="info.isExpanded" *ngFor="let info of accordionContent; let i = index">
            <div class="tile-header">
                <span [class.isExpanded]="info.isExpanded" class="header-txt">{{info.title}}</span>
                <img [class.isExpanded]="info.isExpanded" src="/assets/svgs/icn-faq-open.svg" alt="">
            </div>
            
            <div class="tile-content" [class.isExpanded]="info.isExpanded" *ngIf="info.isExpanded">
                <span>{{info.content}}</span>
            </div>
        </div>
        </div>

        <button routerLink="/faq" id="btn-filled" class="view-more-faq-btn">View More FAQ's</button>

    </div>

   

</div>
