<section class="blog">
  <section id="container">
  <section
    style="
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 100%
        ),
        url('/assets/images/blog-image.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
    class="entire-hero-section"
  >
    <div class="hero-center" *ngFor="let info of blogpageHero">
      <span id="text-xs">{{ info.tagText }}</span>
      <span id="text-xl" class="main-header-txt">{{ info.mainTitle }}</span>
    </div>
  </section>
  </section>

 


  <app-media-and-press></app-media-and-press>

  <!-- Promo banner section -->
  <div class="promotional-bannner-wrapper" id="container">
    <div
      style="
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%
          ),
          url('/assets/images/blog-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      "
      class="main-promotional-banner"
    >
      <div class="hero-center" *ngFor="let info of promoBanner">
        <span id="text-xs">{{ info.tagText }}</span>
        <span id="text-xl" class="main-header-txt">{{ info.mainTitle }}</span>
        <span id="text-rg" class="sub-header-txt">{{ info.subTitle }}</span>
      </div>
    </div>
  </div>

  <!-- Newsletter section -->
  <app-newsletter></app-newsletter>
</section>
