/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Desktop - Small
@media (min-width: 1024px) {
  #container {
    padding-top: 8rem;
  }

  .entire-newsletter {
    background-color: rgba(69, 0, 255, 1);
    border-radius: 1.125rem 1.125rem 0rem 0rem;
    display: flex;
    gap: 3rem;
    height: 10rem;
    overflow: hidden;
    justify-content: space-between;
  }

  // Dividing the newsletter container into two parts;
  // left for the information, and right for the mockups

  .newsletter-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 1rem;
  }

  .newsletter-left .mini-header-txt {
    color: rgba(105, 224, 122, 1);
  }

  .newsletter-left .main-header-txt {
    color: white;
  }

  /* A wrapper around the input and the buttons to add all together in one */
  .newsletter-left .input-wrapper {
    border-radius: 0.625rem;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-right: 1rem;

    input[type="email"] {
      padding: 1rem;
      padding-left: 3rem;
      border: 0;
      border-radius: 0.625rem;
      background: transparent url("/assets/svgs/icn-email.svg");
      background-repeat: no-repeat;
      background-position: 1rem;
      background-size: 1.2rem;
      font-family: "Poppins-Regular";
      width: 12rem;
    }

    input[type="email"]:focus {
      outline: none;
    }

    input[type="email"]::placeholder {
      font-size: 0.8rem;
      font-family: "Poppins-Regular";
      flex-shrink: 0;
      color: rgba(153, 153, 153, 1);
    }

    #btn-filled {
      background: #c4c4c4;
      padding: 0.7rem 1.5rem;
      color: white;
    }
  }

  /* Making the right container relative and giving it a 
  fixed height to keep the mockups close */
  .newsletter-right {
    position: relative;
    width: 25rem;
  }

  /* Parent container (.newsletter-right), is relative so 
  it's children are absolute so we can place one on top of 
  the other */
  .newsletter-right .phone-1 {
    position: absolute;
    top: -5rem;
    left: -8rem;
    z-index: 2;
    height: 42rem;
  }

  .newsletter-right .phone-2 {
    position: absolute;
    top: -8rem;
    right: -10rem;
    z-index: 0;
    height: 40rem;
  }
}

@media (min-width: 1280px) {
  .entire-newsletter {
    padding: 4rem 6rem;
    padding-top: 8rem;
  }
}

@media (min-width: 1440px) {

  .entire-newsletter {
    padding: 4rem 8rem;
    padding-top: 8rem;
    height: 12rem;
    padding-right: 12rem;
  }

  .newsletter-left {
    gap: 0.5rem;
  }

  /* Adjusting phone positions and size from this screen going */
  .newsletter-right .phone-1 {
    top: -4rem;
    left: -7rem;
    height: 45rem;
  }

  .newsletter-right .phone-2 {
    top: -8rem;
    right: -14rem;
    height: 45rem;
  }
}

@media (min-width: 1650px) {
  .entire-newsletter {
    padding: 4rem 12rem;
    padding-top: 8rem;
    height: 12rem;
    padding-right: 15rem;
  }
}
