

<!--  div's with the id "container" puts space on the left
     and right side of all main elements, just so they're all
      inline properly -->

<div id="container">
  <section class="entire-newsletter">
    <!-- Dividing the newsletter container into two parts; 
        left for the information, and right for the mockups -->
    <div class="newsletter-left">
      <span id="text-sm" class="mini-header-txt">Subscribe Now</span>
      <span id="text-lg" class="main-header-txt"
        >Subscribe to our newsletter</span
      >

      <div class="input-wrapper">
        <input
          type="email"
          name=""
          id=""
          placeholder="Enter your email address"
        />
        <button id="text-xs" type="submit">Subscribe</button>
      </div>
    </div>

    <div class="newsletter-right">
      <img class="phone-1" src="/assets/images/phone-mockup-4.png" alt="" />
      <img class="phone-2" src="/assets/images/phone-mockup-5.png" alt="" />
    </div>
  </section>
</div>
