<section class="about-us">
    <!-- Main hero container -->

    <!-- No Model yet-->
    <div class="about-us-hero-wrapper">
        <!-- Inner container which is holding the text (purple-ish background) -->
        <div class="inner-hero-container">
            <span id="text-lg">About Mojo</span>
            <span id="text-rg">In 2021, a couple of our co-founders found themselves in an uncomfortable predicament, unable to pay a local merchant, due to the limitations of the prevailing financial situation. This event, not only highlighted an everyday problem, but also ignited a passion to develop a solution. With over a decade of fintech expertise across Africa, we channelled our insights and commitment into creating Mojo.
                Mojo is designed with you in mind. Our mission is to provide a secure, efficient, flexible, and affordable wallet for every citizen, making daily transactions—from buying groceries to settling utility bills—a seamless experience. Moreover, Mojo aims to reintegrate the Lebanese community into the global financial ecosystem, rectifying the exclusion we faced post 17 October Revolution.
                Mojo is more than just a mobile wallet—it's a beacon of hope, bringing financial freedom and innovation to the Lebanese people. Mojo is solution driven, designed to serve the greater good of Lebanon, redefining the future of finance in Lebanon.
                Together, we mark the 80th year of Independence for Lebanon by introducing Mojo on this significate date. Let us regain our financial freedom, let’s empower Lebanon once again, let’s get our Mojo on!
                Mojo. Change is now.</span>
        </div>
    </div>

    <!-- Main Founders container -->
    <div id="container" class="founders-main-wrapper">
        <span id="text-lg">Meet the Mojo Founders</span>

        <!-- Inner container which is holding the cards in a grid (purple-ish background) -->
        <div class="inner-founders-container">

            <!-- Main team card -->
            <div class="team-card" *ngFor="let info of teamMembers">
                <div style="
            background-image: url('{{info.memberImg}}');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          " class="team-card-top"></div>

                <div class="team-card-bottom">
                    <div class="member-info-wrapper">
                        <span id="text-md">{{info.memberName}}</span>
                        <span id="text-rg">{{info.memberRole}}</span>
                    </div>

                    <div class="icons-wrapper">
                        <a href="{{info.iconLink}}" *ngFor="let info of info.iconContainer" [style.backgroundColor]="info.background" class="icon-container">
                            <img style='filter: {{info.iconColor}}' [src]="info.icon" alt="">
                        </a>
                    </div>
                </div>
            </div>

     
        </div>
    </div>

    <!-- Contact Us section -->
    <app-contact-us></app-contact-us>

    <!-- Newsletter section -->
    <app-newsletter></app-newsletter>
</section>