<section class="business-agent">
  <!-- Hero Section -->
  <section class="entire-hero-section">

    <div class="hero-center" *ngFor="let info of businesspageHero">

      <img src="/assets/svgs/icn-m-logo.svg" alt="">
      <span id="text-xl" class="main-header-txt">{{info.mainTitle}}</span>
      <span id="text-rg" class="sub-header-txt">{{info.subTitle}}</span>
      <button (click)="onNavLinkClick('payment-features-section')" id="btn-filled" class="open-acct-btn">How do I become
        an agent?</button>

    </div>


  </section>

  <!-- Secured blue strip -->
  <div id="blue-strip-mojo">
    <span id="text-rg">Join the growing community</span>
  </div>

  <!-- Mojo Agent Network [No Model yet] -->

  <div id="container">
    <div class="agent-network-hero">
      <span id="text-xl">Mojo Agent Network</span>
      <span id="text-rg">Become a <span class="blue-txt">Mojo Agent</span> and provide “A New Way to Pay” to your
        customers. Customers will no longer need physical cards or cash to make payments to your business. Mojo allows
        customers to easily and securely pay for your goods or services, while also providing a more convenient and
        cost-effective channel for your establishment to conduct business with other entities.
        Customers can make payments to your business either in person or remotely through the Mojo App or via the
        shortcode *CASH# (*2274#). Mojo allows customers to have an easy and convenient way to conduct business with
        your establishment, while also providing an easy way for your business to transact with other Agents and
        Merchants.
        Mojo ensures that your payments are fast, easy, safe, and secure!
        Agents will earn a commission for providing cash-in and cash-out services. This can create an additional revenue
        stream helping to increase profitability.</span>
    </div>
  </div>

  <!-- Partner with us (Feature point)-->
  <div id="container" class="feature-point-container partnerWithUs" *ngFor="let info of worldwidePayments">

    <!-- Container with colored background and flex-direction property -->
    <div [style.backgroundColor]="info.backgroundColor" class="inner-container">

      <div class="content-wrapper">
        <span id="text-lg">{{info.mainTitle}}</span>
        <span id="text-rg">{{info.subTitle}}</span>

      </div>

      <div class="image-wrapper">
        <img src="{{info.image}}" alt="">
      </div>

    </div>
  </div>

  <!-- Agent Benefits -->
  <div id="container">
    <div class="agents-benefits-wrapper">

      <!-- Left side of the Agents benefits container -->
      <div class="agents-benefits-left" *ngFor="let info of agentsBenefitsHeader">
        <span id="text-xs">{{info.tagText}}</span>
        <span id="text-lg">{{info.mainTitle}}</span>
        <span id="text-rg">{{info.subTitle}}</span>
      </div>

      <!-- Right side of the Agents benefits container -->
      <div class="agents-benefits-right">

        <!-- Benefits Point(s) -->
        <div class="benefit-single-point" *ngFor="let info of agentsBenefits">
          <div [style.backgroundColor]="info.iconContainerBG" class="icon-container">
            <img src="{{info.icon}}" alt="">
          </div>

          <div class="benefits-content">
            <span id="text-md">{{info.mainTitle}}</span>
            <span id="text-xs">{{info.subTitle}}</span>
          </div>

        </div>

      </div>
    </div>
  </div>


  <!-- Understand your transaction-->
  <div id="container" class="feature-point-container understandTransaction" *ngFor="let info of understandTransaction">

    <!-- Container with colored background and flex-direction property -->
    <div [style.backgroundColor]="info.backgroundColor" class="inner-container">

      <div class="content-wrapper">
        <span id="text-lg">{{info.mainTitle}}</span>
        <span id="text-rg">{{info.subTitle}}</span>

      </div>

      <div class="image-wrapper">
        <img src="{{info.image}}" alt="">
      </div>

    </div>
  </div>


  <!-- "How to become a merchant/agent" section-->

  <section id="container" class="payment-features-section">

    <!-- Main wrapper holding the steps cards (pink background)-->
    <div class="steps-main-section">

      <div class="step1" id="stepContainer" *ngFor="let info of stepsWithVideos">

        <div id="inner-stepContainer">
          <iframe [src]="sanitizeUrl(info.videoLink)" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>

        <span id="text-md">{{info.title}}</span>
        <span id="text-sm">{{info.description}}</span>

      </div>

    </div>

  </section>

  <!-- Registration Requirements -->
  <div id="container" class="registration-requirements" *ngFor="let info of registrationRequirements">
    <div class="divider"></div>

    <span id="text-lg">{{info.mainText}}</span>

    <div class="requirements-group">
      <li *ngFor="let info of info.point" id="text-rg">{{info}}</li>
    </div>

    <a href="/assets/files/mojo-agent-profile.pdf" download="mojo-agent.pdf" type="application/pdf">
      <button id="btn-filled">Download Application Form test</button>
    </a>
  </div>

  <!-- Partners Section -->

  <section class="partners-section" id="container">
    <!-- <div class="header">
    <span id="text-xl">Our Mojo Network</span>
    <span id="text-rg">Join the ever growing network of wallet banking</span>
    </div> -->

    <!-- Columns for logos are 7, with 4 logos for 1 column.
         But columns have been grouped as 2 to 1 container; 
         making 4 containers in total of 2 columns each
        
        Each container is named "partners-logo-grid" and
         there will be 4 of them 

        And it's wrapped in a container called "logos-grid-wrapper"-->

    <!-- <div class="logos-grid-wrapper">

          <div class="partners-logo-grid">
              <img src="/assets/images/GooglePay.png" alt="">
              <img src="/assets/images/SamsungPay.png">
              <img src="/assets/images/ApplePay.png" alt="">
              <img src="/assets/images/westernunion.png" alt="">
              <img src="/assets/images/Stripe.png" alt="">
              <img src="/assets/images/Payoneer.png" alt="">
              <img src="/assets/images/Visa.png" alt="">
              <img src="/assets/images/MoneyGram.png" alt="">
          </div>
  
          <div class="partners-logo-grid">
              <img src="/assets/images/Maestro.png" alt="">
              <img src="/assets/images/mastercard.png" alt="">
              <img src="/assets/images/Visa&mastercard.png" alt="">
              <img src="/assets/images/Paypal.png" alt="">
              <img src="/assets/images/Klarna.png" alt="">
              <img src="/assets/images/Skrill.png" alt="">
              <img src="/assets/images/CashApp.png" alt="">
              <img src="/assets/images/Square.png" alt="">
          </div>
  
          <div class="partners-logo-grid">
              <img src="/assets/images/ShopPay.png" alt="">
              <img src="/assets/images/AmazonPay.png" alt="">
              <img src="/assets/images/Bitcoin.png" alt="">
              <img src="/assets/images/ethereum.png" alt="">
              <img src="/assets/images/AmericanExpress.png" alt="">
              <img src="/assets/images/Discover.png" alt="">
              <img src="/assets/images/bitpay.png" alt="">
              <img src="/assets/images/Alipay.png" alt="">
          </div>
  
          <div class="partners-logo-grid">
              <img src="/assets/images/OpenSea.png" alt="">
              <img src="/assets/images/UnionPay.png" alt="">
              <img src="/assets/images/Gumroad.png" alt="">
              <img src="/assets/images/metamask.png" alt="">
          </div>
  
      </div>

      <button id="btn-filled">Become an Agent</button> -->
  </section>



  <!-- FAQ Section -->
  <!-- <app-faq-section></app-faq-section> -->

  <!-- Contact Us section -->
  <app-contact-us></app-contact-us>

  <!-- Newsletter section -->
  <app-newsletter></app-newsletter>

</section>