/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Mobile
@media (min-width: 340px) {
  .payment-features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .payment-features-section .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }

  .payment-features-section .header-wrapper > #text-lg {
    color: rgba(69, 0, 255, 1);
  }

  .payment-features-section .header-wrapper > #text-rg {
    color: rgba(17, 5, 43, 1);
  }

  // Main wrapper holding the steps cards (pink background)
  .payment-features-section .steps-main-section {
    border-radius: 1.75rem;
    padding: 4.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }


  .payment-features-section .steps-main-section .step1 #inner-stepContainer {
    background: rgba(241, 241, 255, 1);
  }

  .payment-features-section .steps-main-section .step2 #inner-stepContainer {
    background: rgba(255, 225, 205, 1);
  }


  // Currency support section
  .currency-support-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .currency-support-section .section-left-desktop {
    display: none;
  }

  .currency-support-section .section-left-mobile{
    display: block;
    width: 100%;
  }

  .currency-support-section .section-left-mobile img {
    width: 100%;
  }

  .currency-support-section .section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .section-right .title-container {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
  }

  .title-container > #text-xs {
    color: rgba(69, 0, 255, 1);
  }

  .title-container > #text-xl {
    color: rgba(17, 5, 43, 1);
  }

  .section-right .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .features-container .point {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  .point > span {
    color: rgba(17, 5, 43, 1);
    max-width: 14rem;
  }

  // "Spend with confidence" section

  .spend-confidence-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .spend-confidence-section .spend-section-left {
    width: 100%;
  }

  .spend-section-left > img {
    width: 100%;
  }

  .spend-confidence-section .spend-section-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .spend-section-right #text-lg {
    color: rgba(69, 0, 255, 1);
  }

  .spend-section-right #text-rg {
    color: rgba(52, 64, 94, 1);
    max-width: 26rem;
    text-align: center;
  }
}

// Desktop - Small
@media (min-width: 1024px) {

  // Main wrapper holding the steps cards (pink background)
  .payment-features-section .steps-main-section {
    padding: 4.5rem 0;
    flex-direction: row;
  }

  #stepContainer {
    width: 23rem;
  }

  // Currency support section
  .currency-support-section {
    flex-direction: row;
    gap: 2rem;
  }

  .currency-support-section .section-left-desktop {
    display: block;
    width: 60%;
  }

  .currency-support-section .section-left-mobile{
    display: none;
  }

  .currency-support-section .section-left-desktop img {
    width: 100%;
  }

  .currency-support-section .section-right {
    width: 50%;
  }

  .section-right .title-container {
    align-items: inherit;
    gap: 0.25rem;
  }

  .section-right .features-container {
    align-items: flex-start;
    gap: 1rem;
  }

  .point > span {
    max-width: 20rem;
  }

  // "Spend with confidence" section

  .spend-confidence-section {
    flex-direction: row;
  }

  .spend-confidence-section .spend-section-left {
    width: 60%;
  }

  .spend-section-left > img {
    width: 100%;
  }

  .spend-confidence-section .spend-section-right {
    width: 40%;
    align-items: flex-start;
  }

  .spend-section-right #text-rg {
    max-width: 26rem;
    text-align: left;
  }
}

// Desktop - Medium
@media (min-width: 1280px) {

  .point > span {
    max-width: 28rem;
  }
}

// Desktop - Standard
@media (min-width: 1440px) {

  // Currency support section

  .currency-support-section {
    gap: 5rem;
  }
}

// Desktop - Large
@media (min-width: 1650px) {


}
