/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Mobile
@media (min-width: 340px) {
  // Dividing the Hero container into two parts;
  // left for the information, and right for the image
  .entire-hero-section-personal {
    background-color: rgba(242, 245, 255, 1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    text-align: center;
  }

  // Text editing
  .hero-left .mini-header-txt {
    color: rgba(105, 224, 122, 1);
    text-align: center;
    width: 100%;
  }

  .hero-left .main-header-txt {
    line-height: 2.5rem;
    color: rgba(69, 0, 255, 1);
    max-width: 30rem;
  }

  .hero-left .sub-header-txt {
    color: rgba(52, 64, 94, 1);
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  // Container to hold both login and open account buttons
  .hero-left .button-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .button-wrapper #btn-filled.open-acct-btn {
    background: rgba(69, 0, 255, 1);
    color: white;
    padding: 0.85rem;
  }

  .button-wrapper #btn-filled.login-btn {
    background: rgba(105, 224, 122, 1);
    color: rgba(69, 0, 255, 1);
    padding: 0.85rem;
  }

  // Right section of the hero container.

  .hero-right-mobile {
    width: 100%;
  }

  .hero-right-desktop {
    display: none;
  }

  .hero-right-mobile > img {
    width: 100%;
  }
}

// Desktop - Small
@media (min-width: 1024px) {
  // Dividing the Hero container into two parts;
  // left for the information, and right for the image
  .entire-hero-section-personal {
    padding: 4rem;
    flex-direction: row;
  }

  .hero-left {
    width: 50%;
  }

  // Text editing
  .hero-left .mini-header-txt {
    text-align: left;
  }

  .hero-left .main-header-txt {
    line-height: 3.2rem;
    max-width: 30rem;
    text-align: left;
  }

  .hero-left .sub-header-txt {
    text-align: left;
  }

  .button-wrapper #btn-filled.open-acct-btn {
    padding: 0.8rem 1.5rem;
  }

  .button-wrapper #btn-filled.login-btn {
    padding: 0.8rem 1.5rem;
  }

  // Right section of the hero container.

  // Showing the desktop mockup and hiding the mobile one
  .hero-right-desktop {
    display: block;
    width: 50%;
  }

  .hero-right-mobile {
    display: none;
  }

  .hero-right-desktop > img {
    width: 100%;
  }
}

// Desktop - Medium
@media (min-width: 1280px) {
  .entire-hero-section-personal {
    padding: 8rem 6rem 6rem 6rem;
  }
}

// Desktop - Standard
@media (min-width: 1440px) {
  .entire-hero-section-personal {
    padding: 8rem 8rem 6rem 8rem;
  }

  // Adjusting line-height for the main title
  .hero-left .main-header-txt {
    line-height: 3.8rem;
  }
}

// Desktop - Large
@media (min-width: 1650px) {
  .entire-hero-section-personal {
    padding: 8rem 10rem 6rem 10rem;
  }

  .hero-left {
    gap: 1.5rem;
  }

  // Adjusting line-height for the main title
  .hero-left .main-header-txt {
    line-height: 4.2rem;
  }
}
