/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Mobile
@media (min-width: 340px) {
  .entire-footer{
    display: flex;
    flex-direction: column;
  }

  .entire-footer .top-half{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
    gap: 1rem;
  }

  .top-half .mojo-logo{
    width: 6rem;
  }

  .top-half .badge-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a{
      display: flex;
      align-items: center;
      justify-content: center;

      .app-store-badge{
        width: 8rem;
      }
    }
  }

  .top-half .divider{
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    margin: 1rem 0;
  }

  .top-half .link-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;


    span{
      color: #4500FF;
      font-family: 'Poppins-SemiBold';
      text-transform: uppercase;
    }
  }


  .entire-footer .bottom-half{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0;
    gap: 1rem;
    background-color: #4500FF;
  }

  .bottom-half .icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      background-color: white;
      width: 3rem;
      height: 3rem;
      
    }
  }

  .bottom-half .extra-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: -webkit-fill-available;
  }

  .extra-info .location{
    color: white;
    text-align: center;
    margin: 1rem 0;
  }

  .bottom-half .extra-info .divider{
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 1rem 0;
  }

  .extra-info .second-extra-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .info-txt{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: white;
    }
  }

  
}

// Desktop - Small
@media (min-width: 1024px) {

  .entire-footer .top-half{
    padding: 2.5rem 4rem;
  }

  .entire-footer .bottom-half{
    padding: 2.5rem 4rem;
  }

  .top-half .link-wrapper{
    flex-direction: row;
    gap: 3rem;
  }

  .extra-info .second-extra-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .info-txt{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      color: white;
    }
  }
  
}

// Desktop - Medium
@media (min-width: 1280px) {
  // Main container for the footer

  .entire-footer .top-half{
    padding: 3rem 6rem;
  }

  .entire-footer .bottom-half{
    padding: 3rem 6rem;
  }
}

// Desktop - Standard
@media (min-width: 1440px) {
  // Main container for the footer
  .entire-footer .top-half{
    padding: 3rem 8rem;
  }

  .entire-footer .bottom-half{
    padding: 3rem 8rem;
  }
}

// Desktop - Large
@media (min-width: 1650px) {
  // Main container for the footer
  
  .entire-footer .top-half{
    padding: 3.5rem 10rem;
  }

  .entire-footer .bottom-half{
    padding: 3.5rem 10rem;
  }
}