/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Mobile
@media (min-width: 340px) {
  // Main container for the footer
  // .entire-footer {
  //   display: flex;
  //   align-items: flex-start;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   background: #f7f7f7;
  //   padding: 2rem;
  //   position: relative;
  // }

  .entire-footer > .upper-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .entire-footer .footer-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .mojo-logo {
      width: 8rem;
    }
  }

  .footer-left .badge-wrapper {
    position: absolute;
    left: 2rem;
    display: flex;
    gap: 1rem;
    top: 24rem;
  }

  // Mobile number wrapper
  .footer-left .mobile-number {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgba(52, 64, 94, 1);
  }

  // Footer links contains two sections of the class "links-column"
  .footer-left .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-links .divider {
    height: 4rem;
    width: 1px;
    background-color: rgba(2, 35, 100, 0.3);
    display: none;
  }

  .footer-links .links-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .gray-link {
      color: rgba(52, 64, 94, 1);
      text-transform: capitalize;
      font-size: 0.875rem;
      font-family: "Poppins-SemiBold";
      cursor: pointer;
    }

    .blue-link {
      color: rgba(69, 0, 255, 1);
      font-size: 0.875rem;
      font-family: "Poppins-SemiBold";
      cursor: pointer;
    }
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .footer-right span {
    color: rgba(110, 118, 141, 1);
    text-transform: capitalize;
    font-size: 0.875rem;
    font-family: "Poppins-SemiBold";
  }

  .footer-right .socials-group {
    display: flex;
    gap: 0.5rem;

    img {
      cursor: pointer;
    }
  }

  .extra-info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
  }

  .extra-info .location span {
    color: rgba(107, 122, 133, 1);
  }

  .extra-info .second-extra-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  .second-extra-info .info-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .extra-info .second-extra-info span {
    color: rgba(107, 122, 133, 1);
  }
}

// Desktop - Small
@media (min-width: 1024px) {
  // Main container for the footer
  .entire-footer {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    padding: 4rem;
    position: relative;
  }

  .entire-footer > .upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .entire-footer .footer-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .mojo-logo {
      width: 8rem;
    }
  }

  .footer-left .badge-wrapper {
    position: absolute;
    right: 10%;
    display: flex;
    gap: 1rem;
    left: unset;
    top: 2rem;
  }

  // Mobile number wrapper
  .footer-left .mobile-number {
    display: flex;
    gap: 0.5rem;
    color: rgba(52, 64, 94, 1);
  }

  // Footer links contains two sections of the class "links-column"
  .footer-left .footer-links {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-links .divider {
    height: 4rem;
    width: 1px;
    background-color: rgba(2, 35, 100, 0.3);
  }

  .footer-links .links-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .gray-link {
      color: rgba(52, 64, 94, 1);
      text-transform: capitalize;
      font-size: 0.875rem;
      font-family: "Poppins-SemiBold";
      cursor: pointer;
    }

    .blue-link {
      color: rgba(69, 0, 255, 1);
      font-size: 0.875rem;
      font-family: "Poppins-SemiBold";
      cursor: pointer;
    }
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .footer-right span {
    color: rgba(110, 118, 141, 1);
    text-transform: capitalize;
    font-size: 0.875rem;
    font-family: "Poppins-SemiBold";
  }

  .footer-right .socials-group {
    display: flex;
    gap: 0.5rem;

    img {
      cursor: pointer;
    }
  }

  .extra-info {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }

  .extra-info .location{
    text-align: end;
  }

  .extra-info .second-extra-info {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: flex-start;

    .info-txt {
      text-align: left;
    }
  }
}

// Desktop - Medium
@media (min-width: 1280px) {
  // Main container for the footer
  .entire-footer {
    padding: 6rem;
  }
}

// Desktop - Standard
@media (min-width: 1440px) {
  // Main container for the footer
  .entire-footer {
    padding: 6rem 8rem;
  }
}

// Desktop - Large
@media (min-width: 1650px) {
  // Main container for the footer
  .entire-footer {
    padding: 6rem 10rem;
  }
}
