<!-- Entire footer container holds the left and right sides 
    of the footer, indicated by their classes footer-left 
    and right. -->

<section class="entire-footer">
  <div class="footer-left">
    <img class="mojo-logo" src="/assets/svgs/mojo-logo.svg" alt="" />

    <!-- Container to hold both login and open account buttons -->
    <div class="badge-wrapper">
      <!-- <img src="/assets/svgs/app-store-badge-blue.svg" alt=""> -->
      <img src="/assets/svgs/icn-google-store-badge-blue.svg" alt="">
    </div>


    <!-- Mobile number wrapper -->
    <div class="mobile-number">
      <img src="/assets/svgs/icn-call.svg" alt="" />
      <span id="text-rg" class="number-txt">(24) 522 720</span>
    </div>
    <!-- Footer links contains two sections of the class "links-column"-->
    <div class="footer-links">
      <div class="links-column">
        <span routerLink="/about-us" class="gray-link">About Us</span> 
        <span routerLink="about-us/terms-and-conditions" class="blue-link">Terms and Conditions</span>
      </div>

      <div class="divider"></div>

      <div class="links-column">
        <span routerLink="about-us/privacy-policy" class="blue-link">Privacy Policy</span>
        <span class="blue-link"></span>
      </div>
    </div>

    <!---->
  </div>

  <div class="footer-right">
    <span>OUR SOCIAL HANDLES</span>

    <div class="socials-group">
      <img src="/assets/svgs/icn-linkedin.svg" alt="" />
      <img src="/assets/svgs/icn-tiktok.svg" alt="" />
      <img src="/assets/svgs/icn-instagram.svg" alt="" />
      <img src="/assets/svgs/icn-twitter.svg" alt="" />
      <img src="/assets/svgs/icn-facebook.svg" alt="" />
    </div>
  </div>


  <div class="extra-info">

    <div class="location">
      <span id="text-rg">Mojo Head Office, Cap 41 (opposite ABC)
        Seaside Road, Floor 3
        Dbayeh</span>
    </div>

    <div class="second-extra-info">
      <img src="/assets/svgs/lebanese-flag.svg"/>
      <span id="text-xs">Central Bank of Lebanon Decision No. 35/27/22</span>
      <span id="text-xs">Interpay Sal</span>
      
    </div>

  </div>
</section>
