<section id="container" class="entire-contact-us">
  <div class="contact-us-left">
    <!-- Container to hold text headers of the newsletter section -->
    <div class="header">
      <span id="text-xl">Help us help you</span>
      <span id="text-rg"
        >We want to create
        <span style="color: rgba(69, 0, 255, 1)"
          >the best financial solution for you.</span
        >
        Get in touch with us now and share your thoughts.</span
      >
    </div>

    <!-- Container holding the map for mobile -->
    <div class="contact-us-right">
      <iframe class="mobile-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d848031.9623371948!2d35.84741004999999!3d33.8735578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f17028422aaad%3A0xcc7d34096c00f970!2sLebanon!5e0!3m2!1sen!2sgh!4v1696520733752!5m2!1sen!2sgh"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <!-- Inputs + button container -->
   
    <form>
      <input type="text" name="name" id="form-input" placeholder="Name" />
      <input type="email" name="email" id="form-input" placeholder="Email" />
      <input
        type="tel"
        name="telephone"
        id="form-input"
        placeholder="Phone Number"
      />

      <button [disabled]="!captcha" id="btn-filled" type="submit" class="submit-btn">Submit</button>
      <re-captcha (resolved)="resolved($event)" siteKey="6Lecpu4pAAAAAAgaeOycwFFLf1M2uDUHDVRSX8VU"></re-captcha>

      @if (captcha) {
        <span id="text-rg">You're a human!</span>
      }

    </form>

    

    




   
  </div>

  <!-- Container holding the map for desktop -->
  <div class="contact-us-right">
    <iframe class="desktop-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d848031.9623371948!2d35.84741004999999!3d33.8735578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f17028422aaad%3A0xcc7d34096c00f970!2sLebanon!5e0!3m2!1sen!2sgh!4v1696520733752!5m2!1sen!2sgh"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <!-- <div [hidden]="captcha" class="">
    <span>Hello human</span>
    <re-captcha (resolved)="resolved($event)" siteKey="6Lecpu4pAAAAAAgaeOycwFFLf1M2uDUHDVRSX8VU"></re-captcha>

  </div>

  <div [hidden]="!captcha" class="">
   <span>{{email}}</span>

  </div> -->
</section>
