/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Desktop - Small
@media (min-width: 1024px) {
    .main-container{
        display: flex;
    }

    .copyright-wrapper{
        width: 100%;
        padding: 1.5rem;
        background-color: white;
        text-align: center;
    }

    span{
        color: rgba(110, 118, 141, 1);
    }
}