/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Mobile
@media (min-width: 340px) {

  // "Why choose us" / "Our Advantages" section
  .entire-advantages-section {
    background: rgba(69, 0, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .entire-advantages-section>#text-xs {
    color: rgba(105, 224, 122, 1);
  }

  .entire-advantages-section>#text-lg {
    color: white;
  }

  // Container holding feature cards
  .entire-advantages-section .feature-cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .feature-cards-wrapper .feature-card {
    height: 4rem;
    width: -webkit-fill-available;
    padding: 1rem;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.625rem;
    box-shadow: 10px 32px 72px 0px rgba(51, 51, 51, 0.03);
  }

  // Ellipse holding the container
  .feature-card .icon-container {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1F1FF;
    border-radius: 999px;
  }

  .feature-card .text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-container>#text-md {
    color: #11052B;
  }

  .text-container>#text-xs {
    color: #999;
  }



  // About Mojo section
  .about-mojo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .about-mojo-section .about-mojo-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .about-mojo-left>#text-lg {
    color: rgba(69, 0, 255, 1);
  }

  .about-mojo-left>#text-rg {
    color: rgba(52, 64, 94, 1);
    max-width: 28rem;
    text-align: center;
  }

  .about-mojo-left #about-us-mobile-mockup{
    width: 100%;
  }

  .about-mojo-left>#btn-filled {
    background: rgba(69, 0, 255, 1);
    color: white;
    width: 100%;
  }

  .about-mojo-section>#about-us-desktop-mockup {
    display: none;
  }

  app-mojo-merchant-cta {
    margin: 1rem 0;
  }


  // "Mojo is for you" section

  .mojo-for-you-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  // Mobile mockup appears here, dsktop disappears
  .mojo-for-you-section .section-left-desktop{
    display: none
  }

  .mojo-for-you-section .section-left-mobile{
    display: block;
    width: 100%;
  }

  .mojo-for-you-section .section-left-mobile img {
    width: 100%;
  }

  .mojo-for-you-section .section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .section-right .title-container{
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    gap: 0.25rem;
  }

  .title-container > #text-xs{
    color: rgba(69, 0, 255, 1);
  }

  .title-container > #text-xl{
    color: rgba(17, 5, 43, 1);
  }

  .section-right .features-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
  }

  .features-container .point{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }

  .point > span{
    color: rgba(17, 5, 43, 1);
    max-width: 14rem;
  }

}

// Desktop - Small
@media (min-width: 1024px) {

  // "Why choose us" / "Our Advantages" section
  .entire-advantages-section {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  // Container holding feature cards
  .entire-advantages-section .feature-cards-wrapper {
    flex-direction: row;
    gap: 2rem;
  }

  .feature-cards-wrapper .feature-card {
    width: 16rem;
    height: 8rem;
    padding: 1.5rem 2rem;
    flex-direction: column;
    align-items: center;
  }

  // Ellipse holding the container
  .feature-card .icon-container {
    margin-bottom: 0.5rem;
  }

  .feature-card .text-container{
    flex-direction: column;
    align-items: center;
  }

  .text-container>#text-md {
    text-align: center;
  }

  .text-container>#text-xs {
    text-align: center;
  }



  // About Mojo section
  .about-mojo-section {
    height: 30rem;
    flex-direction: row;
  }

  .about-mojo-section .about-mojo-left {
    align-items: flex-start;
  }

  .about-mojo-left>#text-rg {
    text-align: left;
  }

  // About us mobile mockup is hidden here
  .about-mojo-left #about-us-mobile-mockup{
    display: none;
  }

  .about-mojo-left>#btn-filled {
    background: rgba(69, 0, 255, 1);
    color: white;
    width: fit-content;
  }

  // About us desktop mockup appears here
  .about-mojo-section > #about-us-desktop-mockup{
    width: clamp(28rem, 50%, 40rem);
    display: block;
  }

  app-mojo-merchant-cta {
    margin: 1rem 0;
  }


  // "Mojo is for you" section

  .mojo-for-you-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  // desktop mockup appears here, mobile disappears
  .mojo-for-you-section .section-left-mobile{
    display: none
  }

  .mojo-for-you-section .section-left-desktop{
    display: block;
    width: 60%;
  }

  .mojo-for-you-section .section-left-desktop img {
    width: 100%;
  }

  .mojo-for-you-section .section-right {
    align-items: flex-start;
    width: 50%;
  }

  .section-right .features-container{
    align-items: flex-start;
    gap: 1rem;
  }

  .features-container .point{
    gap: 0.5rem;
  }

  .point > span{
    max-width: 20rem;
  }

}


// Desktop - Medium
@media (min-width: 1280px) {

  // Container holding feature cards
  .entire-advantages-section .feature-cards-wrapper {
    gap: 3.5rem;
  }

  .point > span{
    max-width: 28rem;
  }

}



// Desktop - Standard
@media (min-width: 1440px) {

  // Container holding feature cards
  .entire-advantages-section .feature-cards-wrapper {
    gap: 4rem;
  }

  // About Mojo section
  .about-mojo-section {
    height: 35rem;
  }

  app-mojo-merchant-cta {
    margin: 1.5rem 0;
  }

  // "Mojo is for you" section
  .mojo-for-you-section {
    gap: 5rem;
  }
}



// Desktop - Large
@media (min-width: 1650px) {

  // Container holding feature cards
  .entire-advantages-section .feature-cards-wrapper {
    margin-top: 1rem;
    gap: 4.5rem;
  }

  // About Mojo section
  .about-mojo-section {
    height: 40rem;
  }

  .about-mojo-left #text-rg {
    max-width: 32rem;
  }

  app-mojo-merchant-cta {
    margin: 2rem 0;
  }

}