<section class="homepage">
  <!-- Hero Section -->
  <app-homepage-hero></app-homepage-hero>

  <!-- "Why choose us" / "Our Advantages" section -->
  <section class="entire-advantages-section">
    <span id="text-xs">Why Choose Us</span>
    <span id="text-lg">Some of our advantages</span>

    <!-- Container holding feature cards -->
    <div class="feature-cards-wrapper">
      <!-- Card Population with "*ngFor" -->
      <div class="feature-card" *ngFor="let card of advantageCard">
        <!-- Ellipse holding the container -->
        <div class="icon-container">
          <img src="{{ card.icon }}" alt="" />
        </div>

        <span id="text-md">{{ card.title }}</span>
        <span id="text-xs">{{ card.subtitle }}</span>
      </div>
    </div>
  </section>

  <!-- "Steps to become a mojoer" section -->
  <app-become-a-mojoer></app-become-a-mojoer>

  <!-- About Mojo section -->
  <section class="about-mojo-section">
    <div class="about-mojo-left">
      <span id="text-lg">About Mojo</span>
      <span id="text-rg"
        >Mojo is a wallet that integrates cash transactions with modern
        technology to increase efficiency and security.</span
      >
      <button id="btn-filled">More about Us</button>
    </div>

    <img src="/assets/images/about-mojo-img.png" alt="" />
  </section>

  <!-- General features section (What our app offers)-->
  <app-general-features></app-general-features>


  <app-mojo-merchant-cta></app-mojo-merchant-cta>

  <!-- Schedule bill payments section -->
  <app-schedule-bill-payments></app-schedule-bill-payments>


  <!-- Newsletter section -->
  <app-newsletter></app-newsletter>
</section>
