<section class="entire-navbar">
  <!-- Left side of the navigation bar, with the logo and the links -->
  <div class="navbar-left">
    <img src="/assets/svgs/mojo-logo.svg" alt="" class="mojo-logo" />

    <!-- Container to hold all the link cells -->
    <div class="link-wrapper">
      
      <!-- Personal Link -->
      <div routerLinkActive="activeCell" class="link-cell">
        <span class="cell-title">Personal</span>
        <img class="chevron-down" src="/assets/svgs/icn-arrow-down.svg" alt="" />

        <!-- Dropdown container for link cell -->
        <div id="dropdown-content">

          <!-- Column groups in the dropdown container -->

          <div class="dropdown-content-column">
            <div routerLink="/personal" class="column-link">
              <span id="text-sm">Get a wallet</span>
            </div>

            <div routerLink="/personal" class="column-link">
              <span id="text-sm">Currencies</span>
            </div>

            <div routerLink="/personal" class="column-link">
              <span id="text-sm">Making Payment</span>
            </div>

            <div routerLink="/personal" class="column-link">
              <span id="text-sm">FAQ's</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="">
            </div>
          </div>

          <div class="dropdown-content-column">
            <div class="column-link">
              <span id="text-sm">Forgot PIN</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Locate - Mojo Risin'</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Customer Support</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Discover Mojo</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="">
            </div>
          </div>


        </div>
      </div>


      <!-- Business Link -->
      <div routerLinkActive="activeCell" class="link-cell">
        <span class="cell-title">Business</span>
        <img class="chevron-down" src="/assets/svgs/icn-arrow-down.svg" alt="" />

         <!-- Dropdown container for link cell -->
         <div id="dropdown-content">

          <!-- Column groups in the dropdown container -->

          <div class="dropdown-content-column">
            <div class="column-link">
              <span id="text-sm">Become a Mojo Merchant</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Mojo Agents</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Currencies</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Commissions</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Customer Support</span>
            </div>
          </div>

          <div class="dropdown-content-column">
            <div class="column-link">
              <span id="text-sm">Settlement</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Transaction Limits</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Partners</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Discover Mojo Business</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="">
            </div>

            <div class="column-link">
              <span id="text-sm">FAQ's</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="">
            </div>
          </div>


        </div>
      </div>

    

      <!-- About Mojo Link -->
      <div routerLinkActive="activeCell" class="link-cell">
        <span class="cell-title">About Mojo</span>
        <img class="chevron-down" src="/assets/svgs/icn-arrow-down.svg" alt="" />

        <!-- Dropdown container for link cell -->
        <div id="dropdown-content">

          <!-- Column groups in the dropdown container -->

          <div class="dropdown-content-column">
            <div class="column-link">
              <span id="text-sm">About Us</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Careers</span>
            </div>

            <div class="column-link">
              <span id="text-sm">Locate - Mojo Risin'</span>
            </div>

            <div class="column-link">
              <span id="text-sm">FAQ's</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="">
            </div>

            <div class="column-link">
              <span id="text-sm">Sustainability</span>             
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="">
            </div>
          </div>

          <div class="dropdown-content-column">
          <img class="go-green-img" src="/assets/images/go-green.png" alt="">
          </div>


        </div>
      </div>

     

      <!-- Media and Press Link-->
      <div routerLink="homepage/media-and-press" routerLinkActive="activeCell" class="link-cell">
        <span class="cell-title">Media & Press</span>
      </div>

    </div>

  </div>

  <!-- Right side of the navigation bar, which has the open account button -->
  <div class="navbar-right">
    <button id="btn-filled">Open a Mojo Account</button>
  </div>
</section>
