<section id="outer-wrapper" class="entire-desktop-navbar">
  <!-- Left side of the navigation bar, with the logo and the links -->
  <div class="navbar-left">
    <img
      routerLink=""
      src="/assets/svgs/mojo-logo.svg"
      alt=""
      class="mojo-logo"
    />

    <!-- Container to hold all the link cells -->
    <div class="link-wrapper">
      <!-- Personal Link -->
      <div routerLink="/personal" routerLinkActive="activeCell"  class="link-cell">
        <span class="cell-title">Personal</span>
        <img
          class="chevron-down"
          src="/assets/svgs/icn-arrow-down.svg"
          alt=""
        />

        <!-- Dropdown container for link cell -->
        <div id="dropdown-content">
          <!-- Column groups in the dropdown container -->

          <div class="dropdown-content-column">
            <div (click)="onNavLinkClick('entire-hero-section-personal')" class="column-link">
              <span id="text-sm">Get a wallet</span>
            </div>

            <div (click)="onNavLinkClick('currency-support-section')" class="column-link">
              <span id="text-sm">Currencies</span>
            </div>

            <div (click)="onNavLinkClick('mojoer-steps-section')" class="column-link">
              <span id="text-sm">Making Payment</span>
            </div>

            <!-- <a href="/personal/faq" class="column-link">
              <span id="text-sm">FAQ's</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="" />
            </a> -->
          </div>

          <div class="dropdown-content-column">
            <!-- <div class="column-link">
              <span id="text-sm">Forgot PIN</span>
            </div> -->

            <a href="/personal/locate-mojo"  class="column-link">
              <span id="text-sm">Locate - Mojo Risin'</span>
            </a>

            <!-- <div class="column-link">
              <span id="text-sm">Customer Support</span>
            </div> -->

            <a href="/about-us" class="column-link">
              <span id="text-sm">Discover Mojo</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="" />
            </a>
          </div>
        </div>
      </div>

      <!-- Business Link -->
      <div routerLink="/business" routerLinkActive="activeCell" class="link-cell">
        <span class="cell-title">Business</span>
        <img
          class="chevron-down"
          src="/assets/svgs/icn-arrow-down.svg"
          alt=""
        />

        <!-- Dropdown container for link cell -->
        <div id="dropdown-content">
          <!-- Column groups in the dropdown container -->

          <div class="dropdown-content-column">
            <!-- <div routerLink="/business" class="column-link">
              <span id="text-sm">Become a Mojo Merchant</span>
            </div> -->

            <a href="business/agents" class="column-link">
              <span id="text-sm">Mojo Agents</span>
            </a>

            <div (click)="onNavLinkClick('currency-support-section')" class="column-link">
              <span id="text-sm">Currencies</span>
            </div>

            <!-- <div class="column-link">
              <span id="text-sm">Commissions</span>
            </div> -->

            <!-- <div class="column-link">
              <span id="text-sm">Customer Support</span>
            </div> -->
          </div>

          <div class="dropdown-content-column">
            <div (click)="onNavLinkClick('quick-settlements')" class="column-link">
              <span id="text-sm">Settlement</span>
            </div>

            <!-- <div class="column-link">
              <span id="text-sm">Transaction Limits</span>
            </div> -->

            <!-- <div class="column-link">
              <span id="text-sm">Partners</span>
            </div> -->
<!-- 
            <div class="column-link">
              <span id="text-sm">Discover Mojo Business</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="" />
            </div> -->

            <!-- <div (click)="onNavLinkClick('entire-faq-section')" class="column-link">
              <span id="text-sm">FAQ's</span>
              <img src="/assets/svgs/icn-arrow-right-black.svg" alt="" />
            </div> -->
          </div>
        </div>
      </div>

      <!-- About Mojo Link -->
      <div routerLink="/about-us" routerLinkActive="activeCell" class="link-cell">
        <span class="cell-title">About Mojo</span>
        <img
          class="chevron-down"
          src="/assets/svgs/icn-arrow-down.svg"
          alt=""
        />

        <!-- Dropdown container for link cell -->
        <div id="dropdown-content">
          <!-- Column groups in the dropdown container -->

          <div class="dropdown-content-column">
            
            <a href="about-us/careers"  class="column-link">
              <span id="text-sm">Careers</span>
            </a>

            <a href="/about-us/locate-mojo" class="column-link">
              <span id="text-sm">Locate - Mojo Risin'</span>
            </a>

            <a href="/about-us/terms-and-conditions"
              
              class="column-link"
            >
              <span id="text-sm">Terms and Conditions</span>
            </a>

            <a href="/about-us/privacy-policy"  class="column-link">
              <span id="text-sm">Privacy Policy</span>
              <!-- <img src="/assets/svgs/icn-arrow-right-black.svg" alt="" /> -->
            </a>

          </div>

          <div class="dropdown-content-column">
            <img
              class="go-green-img"
              src="/assets/images/go-green.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <!-- Media and Press Link-->
      <div routerLink="/blog" routerLinkActive="activeCell" class="link-cell">
        <span class="cell-title">Media & Press</span>
      </div>
    </div>
  </div>

  

  <!-- Right side of the navigation bar, which has the open account button -->
  <div class="navbar-right">
    <button id="btn-filled">Open a Mojo Account</button>
  </div>
</section>

<section class="entire-mobile-nav">

  <div class="mobile-nav-left">

    <img
    routerLink=""
    src="/assets/svgs/mojo-logo.svg"
    alt=""
    class="mojo-logo"
  />

  </div>

  <div class="mobile-nav-right">
    <img (click)="toggleMenu()" src="/assets/svgs/icn-menu-blue.svg" alt="">
  </div>


  <div *ngIf="isMenuOpen" class="mobile-nav-expanded">

    
    <div class="main-content-container">
      <div class="wrapper" (click)="toggleAccordion(i)" [class.isExpanded]="info.isExpanded" *ngFor="let info of mobileNavContent; let i = index">
      <div class="tile-header" [class.isExpanded]="info.isExpanded">
        <span id="text-md">{{info.tileHeader}}</span>
        <img [class.isExpanded]="info.isExpanded" src="{{info.expandedIcon}}" alt="">
      </div>

      <div class="tile-content" [class.isExpanded]="info.isExpanded" *ngIf="info.isExpanded">
        <div class="tile-header-content" *ngFor="let info of info.links">
          <span id="text-md">{{info}}</span>
        </div>
    </div>
    </div>
    </div>

  </div>
</section>
