<section class="entire-hero-section">

  <!-- Objects around the hero -->
  <img src="/assets/images/cc-machine.png" alt="" class="img1" id="object">
  <img src="/assets/images/receipt.png" alt="" class="img2" id="object">
  <img src="/assets/images/wallet-withdraw.png" alt="" class="img3" id="object">
  <img src="/assets/images/shopping-basket.png" alt="" class="img4" id="object">

  <div class="hero-center" *ngFor="let info of businesspageHero">

    <img src="/assets/svgs/icn-m-logo.svg" alt="">
    <span id="text-xl" class="main-header-txt">{{info.mainTitle}}</span>

    <!-- Carousel for Mobile -->
    <!-- <div class="img-slide-wrapper">
      <ng-container *ngFor="let slide of subImages; let i = index">
          <div @carouselAnimation *ngIf="i === currentSlide" class="product-img"
              [style.background-image]="'url(' + slide + ')'"
              style="background-size: cover; background-position: center; background-repeat: no-repeat;">
          </div>
      </ng-container>

       Indicators
      <ul class="carousel-indicators">
          <li *ngFor="let slide of subImages; let i = index" [class.active]="currentSlide === i"
              (click)="goToImage(i)">
          </li>
      </ul>

  </div> -->

  <div class="img-slide-wrapper">
    <ng-container *ngFor="let slide of subImages; let i = index">
        <div @carouselAnimation *ngIf="i === currentSlide" class="product-img"
            [style.background-image]="'url(' + slide + ')'"
            style="background-size: cover; background-position: center; background-repeat: no-repeat;">
        </div>
    </ng-container>

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li *ngFor="let slide of subImages; let i = index" [class.active]="currentSlide === i"
            (click)="goToImage(i)">
        </li>
    </ul>

</div>

    <span id="text-rg" class="sub-header-txt">{{info.subTitle}}</span>
    <a href="/assets/files/mojo-merchant-profile.pdf" download="mojo-merchant.pdf">
    <button id="btn-filled" class="open-acct-btn">Register for a Merchant Account</button>
    </a>

  </div>


</section>