<div id="container">
  <section class="entire-CTA">
    <!-- Image to be positioned slightly out of the main container -->
    <img src="/assets/svgs/icn-merchant-lady.svg" alt="" />

    <!-- Right side of the main container -->
    <div class="CTA-right">
      <div class="info-wrapper">
        <span class="title">Yes! you can be a Mojo merchant</span>
        <span class="subtitle"
          >Find out how to get onboarded as a Mojo Merchant.</span
        >
      </div>

      <button id="btn-filled">Learn More</button>
    </div>
  </section>
</div>
