<section id="container" class="entire-media-section">

  <!-- Container to hold both the header and the button to read more-->
  <div class="media-top">
    <span id="text-lg">Media & Press</span>
    <button (click)="toBlog()" id="btn-filled" class="read-more-btn-desktop">Read More</button>
  </div>

  <!-- The Media bottom div container holds both news cards -->
  <div class="media-bottom">
    <div class="news-card" *ngFor="let info of mediaAndPress">
      <div
        class="news-card-left"
        style="
          background: url('{{info.newsImg}}');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        "
      ></div>

      <div class="news-card-right">
        <div class="review-container">
          <img src="/assets/svgs/icn-star-blue.svg" alt="" />
          <span id="text-rg" class="latest-txt">Latest</span>
          <span id="text-xs" class="date">{{info.newsDate}}</span>
        </div>

        <span id="text-md"
          > <a href="{{info.newsLink}}">{{info.newsTitle}}</a></span
        >
        <span id="text-xs"
          >{{info.newsSubTitle}}</span
        >
      </div>
    </div>

  </div>

  <button (click)="toBlog()" id="btn-filled" class="read-more-btn-mobile">Read More</button>
</section>
