/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Desktop - Small
@media (min-width: 1024px) {
    .entire-media-section{
        padding: 6rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
    }

    .entire-media-section .media-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .media-top > #text-lg{
        color: rgba(69, 0, 255, 1);
    }

    .media-top .read-more-btn{
        background-color: rgba(69, 0, 255, 1);
        color: white;
        width: 10rem;
    }


    .entire-media-section .media-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 2rem
    }

    .media-bottom .news-card{
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 50%;
    }

    .news-card .news-card-left{
        width: 50%;
        height: 16rem;
        border-radius: 0.56rem;
    }

    .news-card-left > img{
        width: 100%;
        height: 100%;
    }

    .news-card .news-card-right{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 0.5rem;
    }


    .news-card-right .review-container{
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    .review-container .latest-txt{
        color: rgba(52, 64, 94, 1);
        
    }

    .review-container .date{
        color: rgba(110, 118, 141, 1);
    }

    .news-card-right > #text-md{
        max-width: 18rem;
    }

    .news-card-right > #text-xs{
        max-width: 16rem;
    }
}


// Desktop - Medium
@media (min-width: 1280px) {
    .entire-media-section{
        padding: 6rem;
    }
}

// Desktop - Standard
@media (min-width: 1440px) {
    .entire-media-section{
        padding: 6rem 8rem;
    }

    .entire-media-section .media-bottom{
        gap: 6rem;
    }

    .news-card .news-card-left{
        height: 18rem;
    }

    .media-bottom .news-card{
        gap: 1.5rem;
    }
}


// Desktop - Large
@media (min-width: 1650px) {
    .entire-media-section{
        padding: 6rem 10rem;
    }
}