/*
All SCSS styles are grouped in media queries, from 
mobile to desktop. So as we scale up, from one screen to 
the next, the styling reduces, meaning that the majority 
of styling is done in the mobile media query (340px)
*/

// Mobile
@media (min-width: 340px) {
  // Hero section

  .entire-hero-section {
    padding-top: 3rem;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-top: 8rem;
    height: 25rem;
  }

  .hero-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.35rem;
    width: 32rem;
    text-align: center;
  }

  // Text editing
  .hero-center .main-header-txt,
  .sub-header-txt,
  .hero-center > #text-xs {
    color: white;
  }

  // Digital Wallet Revolution section
  .about-mojo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .about-mojo-section .about-mojo-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    align-items: center;
  }

  .about-mojo-left > #text-lg {
    color: rgba(69, 0, 255, 1);
  }

  .about-mojo-left > #text-rg {
    color: rgba(52, 64, 94, 1);
    max-width: 28rem;
  }

  .about-mojo-left > #btn-filled {
    background: rgba(69, 0, 255, 1);
    color: white;
    width: -webkit-fill-available;
  }

  .about-mojo-section > img {
    width: -webkit-fill-available;
    height: 21rem;
    margin-right: 2rem;
  }

  // Feature point container for " Mojo Risin' in 45 locations".

  .feature-point-container .inner-container {
    border-radius: 1.75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .inner-container .content-wrapper {
    border-radius: 1.6rem;
    background: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .content-wrapper > #text-lg {
    color: rgba(69, 0, 255, 1);
  }

  .content-wrapper > #text-rg {
    color: rgba(52, 64, 94, 1);
    max-width: 26rem;
  }

  .inner-container .image-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 65%;
      margin: 3rem 0;
    }
  }

  // Open Positions

  // Main position container
  .position-main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .position-main-wrapper > #text-lg {
    color: rgba(69, 0, 255, 1);
    text-align: center;
  }

  // Purple-ish background
  .inner-position-container {
    display: flex;
    flex-direction: column;
    border-radius: 1.75rem;
    background: rgba(241, 241, 255, 1);
    padding: 1rem;
    gap: 2rem;
  }

  // Tab group
  .tab {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    padding: 10px 20px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-button.active{
    color: rgba(69, 0, 255, 1);
    // border-bottom: 1px solid rgba(69, 0, 255, 1);
  }
  
  .arrow {
    display: flex;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
    width: -webkit-fill-available;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  
  .dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  

  // Tab group's content
  .tab-content {
    flex: 1 1 auto;
  }

  // Container for holding all the position cards
  .position-cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  // Main position card
  .inner-position-container .position-card {
    border-radius: 1rem;
    background: #fff;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 32px 72px 0px rgba(51, 51, 51, 0.03);
    padding: 1rem;
    cursor: pointer;
    justify-content: space-evenly;
  }

  .position-card > #text-rg {
    color: rgba(69, 0, 255, 1);
  }

  .position-card > #text-md,
  .position-card > #text-xs {
    color: rgba(17, 5, 43, 1);
  }

  // Mojoee Benefits (1/2)
  .mojoee-benefits-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  // Left side of the Mojoee benefits container
  .mojoee-benefits-wrapper .mojoee-benefits-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
  }

  .mojoee-benefits-left > #text-xs {
    color: rgba(105, 224, 122, 1);
  }

  .mojoee-benefits-left > #text-lg {
    color: rgba(69, 0, 255, 1);
  }

  .mojoee-benefits-left > #text-rg {
    color: rgba(0, 24, 51, 1);
  }

  // Right side of the Mojoee benefits container
  .mojoee-benefits-right {
    display: flex;
    flex-direction: column; 
    gap: 3rem 2.5rem;
  }

  // Benefits Point(s)
  .mojoee-benefits-right .benefit-single-point {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }

  .benefit-single-point .icon-container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 999px;
    background-color: rgba(212, 217, 245, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .benefit-single-point .benefits-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    #text-xs{
      color: rgba(110, 118, 141, 1);
    }
  }

  // Mojoee Benefits (2/2) (Working at Mojo)

  .mojo-benefits-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .mojo-benefits-container .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;

    #text-lg {
      color: rgba(69, 0, 255, 1);
    }

    #text-rg {
      color: rgba(17, 5, 43, 1);
    }
  }

  .mojo-benefits-container .inner-mojo-benefits-wrapper {
    padding: 1rem;
    border-radius: 1.25rem;
    background: rgba(253, 225, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 95%;
  }

  .inner-mojo-benefits-wrapper .benefit-card {
    border-radius: 1rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 32px 72px 0px rgba(51, 51, 51, 0.03);
    padding: 1.5rem;
    gap: 1rem;
    height: 18rem;
  }

  .benefit-card > #text-lg {
    color: rgba(245, 143, 181, 1);
  }

  .benefit-card .benefit-card-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    #text-rg {
      color: rgba(17, 5, 43, 1);
    }
  }
}

// Desktop - Small
@media (min-width: 1024px) {
  // Hero section

  .entire-hero-section {
    padding-top: 8rem;
  }

  // Digital Wallet Revolution section
  .about-mojo-section {
    flex-direction: row;
  }

  .about-mojo-section .about-mojo-left {
    text-align: left;
    align-items: flex-start;
  }

  .about-mojo-section > img {
    width: clamp(28rem, 50%, 40rem);
    margin: 0;
    height: auto;
  }

  .about-mojo-left > #btn-filled {
    width: auto;
  }

  // Feature point container for " Mojo Risin' in 45 locations".

  .feature-point-container .inner-container {
    border-radius: 1.75rem;
    padding: 5rem 2rem;
    height: clamp(20rem, 22rem, 30rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  .inner-container .content-wrapper {
    padding: 2.5rem;
    height: 60%;
    text-align: left;
    width: 50%;
  }

  .inner-container .image-wrapper img {
      width: 100%;
  }

  // Open Positions

  // Purple-ish background
  .inner-position-container {
    padding: 2rem;
  }

  // Tab group
  .tab {
    gap: 0.625rem;
    flex-shrink: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
  }

  .tabUnselected {
    padding: 0.75rem 1rem;
    display: flex;
    gap: 0.5rem;
    background: transparent;
    font-family: "Inter-SemiBold";
    font-size: 1rem;
    color: rgba(18, 20, 22, 1);
    cursor: pointer;
  }

  .tabUnselected.active {
    background: transparent;
    border-bottom: 2px solid rgba(69, 0, 255, 1);
    color: rgba(69, 0, 255, 1);
    transition: 0.5s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  .dropdown{
    display: none;
  }

  // Tab group's content
  .tab-content {
    flex: 1 1 auto;
  }

  // Container for holding all the position cards
  .position-cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    justify-content: start;
  }

  // Mojoee Benefits (1/2)
  .mojoee-benefits-wrapper {
    flex-direction: row;
  }

  // Left side of the Mojoee benefits container
  .mojoee-benefits-wrapper .mojoee-benefits-left {
    align-items: flex-start;
    text-align: left;
    width: 45%;
  }

  // Right side of the Mojoee benefits container
  .mojoee-benefits-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 3rem 2.5rem;
  }

  // Benefits Point(s)
  .mojoee-benefits-right .benefit-single-point {
    text-align: left;
    align-items: flex-start;
  }

  // Mojoee Benefits (2/2) (Working at Mojo)

  .mojo-benefits-container .inner-mojo-benefits-wrapper {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .inner-mojo-benefits-wrapper .benefit-card {
    height: 15rem;
  }
}

// Desktop - Medium
@media (min-width: 1280px) {
  .entire-hero-section {
    padding: 10rem 6rem 6rem 6rem;
    height: 30rem;
  }

  // Feature point container for "Mojo Risin' in 45 locations"
  .feature-point-container .inner-container {
    height: 25rem;
    padding: 5rem 4rem;
  }
}

// Desktop - Standard
@media (min-width: 1440px) {
  .entire-hero-section {
    padding: 10rem 8rem 6rem 8rem;
  }

  // Feature point container for "Mojo Risin' in 45 locations"
  .feature-point-container .inner-container {
    padding: 5rem 4rem;
  }

  // Mojoee Benefits (Gap increase b/n left and right)
  .mojoee-benefits-wrapper {
    gap: 8rem;
  }

  // Purple-ish background for Open Positions section
  .inner-position-container {
    padding: 3rem 5rem;
    gap: 2rem;
  }
}

// Desktop - Large
@media (min-width: 1650px) {
  .entire-hero-section {
    padding: 12rem 10rem 6rem 10rem;
  }

  // Image scaling for big M logo
  .image-wrapper > img {
    transform: scale(1.2);
  }
}
