<section id="container" class="entire-section">

    <div class="section-left">
        <span id="text-xs">Coming Soon!
        </span>
        <!-- <span id="text-xl">Schedule your bill payments</span> -->
        <!-- <span *ngIf="PageData?.result?.pageSection && PageData.result.pageSection.length > 0">
          <span [innerHTML]="PageData.result.pageSection[6].header | safeHtml" id="text-xl"></span>
        </span>

        <span *ngIf="PageData?.result?.pageSection && PageData.result.pageSection.length > 0">
          <span [innerHTML]="PageData.result.pageSection[6].subtext | safeHtml" id="text-rg"></span>
        </span> -->
        <!-- <span id="text-rg">Relax while mojo handles all your monthly bills.</span> -->
    </div>

    <div class="section-right">
        <img src="/assets/images/bill-payments.png" alt="">
        <img src="/assets/images/bill-payments-mobile.png" alt="">
    </div>
</section>