<section class="blog">
  <section
    style="
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.7) 0%,
          rgba(0, 0, 0, 0.7) 100%
        ),
        url('/assets/images/media-page-bg.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
    class="entire-hero-section"
  >
    <div class="hero-center" *ngFor="let info of blogpageHero">
      <span id="text-xs">{{ info.tagText }}</span>
      <span id="text-xl" class="main-header-txt">{{ info.mainTitle }}</span>
      <span id="text-rg" class="sub-header-txt">{{ info.subTitle }}</span>
    </div>
  </section>

  <!-- Secured blue strip (styles located in the styles.scss file) -->
  <div id="blue-strip-mojo">
    <span id="text-rg">With Mojo your money is secured</span>
  </div>

  <!-- Main news container -->
  <div id="container" class="news-main-wrapper">
    <span id="text-lg">Here are some news you may like</span>

    <!-- Purple-ish background with a tab group -->
    <div class="inner-news-container">
      <!-- Tab group and it's content wrappers underneath(tab-content) -->
      <div class="tab">
        <div
          class="tabUnselected"
          (click)="setActiveTab('tab1')"
          [class.active]="tabSelected === 'tab1'"
        >
          Mojo News
        </div>

       
      </div>

      <div class="dropdown">
        <button [class.active]="tabSelected === 'tab1'" id="text-rg" class="dropdown-button" (click)="toggleDropdown()">
          {{ selectedOption || items[0] }}
          <span class="arrow">
            <img src="/assets/svgs/icn-arrow-down-purple.svg" alt="">
          </span>
        </button>
        <div class="dropdown-menu" *ngIf="showDropdown">
          <div id="text-rg" class="dropdown-item" *ngFor="let item of items" (click)="selectOption(item, 'tab1')" [class.active]="tabSelected === 'tab1'">
            {{ item }}
          </div>
        </div>
      </div>

      <!-- Tab group's content -->
      <div class="tab-content">

        <!-- Container for holding all the news cards -->
        <div class="news-cards-container" *ngIf="tabSelected === 'tab1'">
          <!-- Content for Tab 1 -->
          <!-- Main news card -->
          <div class="news-card" *ngFor="let info of newscards">
            <div
              style="
            background-image: url('{{ info.newsImg }}');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          "
              class="news-card-top"
            ></div>

            <div class="news-card-bottom">
              <div class="blog-info-wrapper">
                <div class="writer-info">
                  <img src="/assets/images/blog-writer.jpg" alt="" />
                  <span id="text-xs">{{ info.writerName }}</span>
                </div>

                <div class="gray-dot"></div>

                <span class="news-date" id="text-xs">{{info.newsDate}}</span>
              </div>

              <div class="blog-content">
                <span class="blog-title"
                  ><a href="{{info.newsLink}}">{{info.newsTitle}}</a>
                </span>

                <span id="text-xs" class="blog-content-txt">{{info.newsSubTitle}}</span>
              </div>
            </div>
          </div>

          <!-- <button id="btn-filled">Load More</button> -->
        </div>

        <div *ngIf="tabSelected === 'tab2'">
          <!-- Content for Tab 2 -->
        </div>

        <div *ngIf="tabSelected === 'tab3'">
          <!-- Content for Tab 3 -->
        </div>

        <div *ngIf="tabSelected === 'tab4'">
          <!-- Content for Tab 3 -->
        </div>
      </div>
    </div>
  </div>

  <!-- Promo banner section -->
  <div class="promotional-bannner-wrapper" id="container">
    <div
      style="
        background: 
          url('/assets/images/blog-image.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      "
      class="main-promotional-banner"
    >
      <!-- <div class="hero-center" *ngFor="let info of promoBanner">
        <span id="text-xs">{{ info.tagText }}</span>
        <span id="text-xl" class="main-header-txt">{{ info.mainTitle }}</span>
        <span id="text-rg" class="sub-header-txt">{{ info.subTitle }}</span>
      </div> -->
    </div>
  </div>

  <!-- Newsletter section -->
  <app-newsletter></app-newsletter>
</section>
